
.custom-file>.custom-file-label selected::placeholder{
	visibility:hidden;
}
.kt-wizard-v1__wrapper{
	background: #fff !important;
}
/* .kt-portlet{
	background: #fff;
	padding: 10px;
}
.kt-portlet .msg{
	background-color: #fff;

}
.kt-portlet.msg.aud-chk{
	align-items: center;
} */
.msg.aud-chk{
	padding: 10px;
}
#ovw_aud div input{
	margin-left: 1rem !important;
}

.kt-wizard-v1__form{
	margin-top: 0 !important;
}

#kt_form{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}

fieldset ul li {
	display: table-cell;
	list-style: none;
	width: 100px;
	height: 100px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	vertical-align:middle;
}
/* estilo 03 */
input[type=checkbox].check_03 {display: none;}
input[type=checkbox].check_03 + label {
	background: #fff;
	display: inline-block;
	width: 160px;
	height: 45px;
	background: url("../assets/media/image/check_1003.png") 0px 0px no-repeat;
	text-indent: -1000em;
}

input[type=checkbox].check_03:checked + label {
	background: url("../assets/media/image/check_1003.png") 0px -45px no-repeat;
}


/* estilo 003 */
input[type=checkbox]#check_04 {display: none;}
input[type=checkbox]#check_04 + label {
	background: #fff;
	display: inline-block;
	width: 160px;
	height: 45px;
	background: url("../assets/media/image/check_10003.png") 0px 0px no-repeat;
	text-indent: -1000em;
}

input[type=checkbox]#check_04:checked + label {
	background: url("../assets/media/image/check_10003.png") 0px -45px no-repeat;
}
label, input { cursor: pointer;}

/*estilo de botones*/
#botn{
	box-shadow: 0 0 3px lightgray;
	padding: 25px 15px 15px;
	border-radius: 5px;
	text-align: center;
	background: #fff !important;
}
.btn.btn-primary.btn-lg{
	margin: auto;
}

#btn-2-slct{
	justify-content: space-between;

}

#boton-gde{
	width: 95%;
	max-width: 250px;
	margin: auto;
	display: block;
	background: #48B548;
	border: 1px solid #48B548;
}

/* Estilos Tabs*/
/* .nav-link{
	font-size: 1.5rem !important;
	font-weight: 500 !important;
}

.nav-link .flaticon-earth-globe{
	font-size: 2.5rem !important;
} */

/* Tablas Radio de los Tags */

.table{
	color: #ACB0B6;
	text-align: center;
}
.table th{
	vertical-align: center!important;
}

.table-hover tbody tr:hover{
	color:#646c9a;
	background-image: #D8E0F0;

}
.gradient tr{
	background-image: linear-gradient(#fafbfc, #fafbfc);
	cursor: click;
}

/* .nav-tabs .nav-item .nav-link.active {
	color: #fff;
	background-color: #000;
} */

/* .nav-tabs .nav-item .nav-link i{
	margin-bottom: 7px;
	font-size: 18px;
} */

.gender ul{
	padding-left: 15px;
}

.location-box, #interes-box, .intereses-box, .audiencia-box {
	max-height: 200px;
	overflow: auto;
	min-width: 300px;
}

/* .nav-tabs .nav-item .nav-link.active i{
	color: #fff !important;
} */

.kt-radio.kt-radio--brand.kt-radio--solid.tabl span{
	display: none;

}
.kt-radio.tabl{
	font-size: 2.5rem;
	padding: 10px;
	font-weight: 600;
	margin:0;
}

.click td, .click th {
	vertical-align: middle;
	text-align: left;
	padding: 0;
}
.click td h3{
	margin: 0;
}
.click th{
	width: 50px;
}
.click i.la.la-check-circle-o{
	display:none;
}

.click i.fa.fa-check-circle{
	display:none;
}

.click:hover i.la.la-check-circle-o{
	display:inline-block;
}

.click:hover i.la.la-circle-o{
	display:none;
}
.selecc i.la.la-check-circle-o{
	display:none;
}
.selecc i.la.la-circle-o{
	display:none;
}
.selecc i.fa.fa-check-circle{
	display:inline-block;
}
.selecc:hover i.la.la-check-circle-o{
	display:none;
}

.table span.warning {
	color: #F7A202;
	font-size: 1rem;
}
/* boton del wizard*/
div.kt-form__actions{
	margin: auto;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
/* Estilos de checkbox form-hide*/
.fa.fa-lightbulb{
	color: yellow;
	font-size: 1.5rem;

}
.form-group.col-md-9{
	flex:0;
}

/* Estilos del Dropbox*/
.dropzone.upimg {
	border: 1px solid #646C9A;
	padding: 5px 8px !important;
	min-height: 52px;
	max-width: 100%;
	background-color: #6885C4;
}

.kt-dropzone__msg.dz-message.needsclick.upimg{
	margin: 0;
}

/* radio-box Radioboton*/

li.radio_btn {
	width: auto;
}

li.radio_btn label{
	border: 1px solid #000;
	display: inline-block;
	font-size: 1.5rem;
	color: #333;
	line-height: 58px;
}

li.radio_btn input[type=radio] {
	display: none;
}
li.radio_btn input[type=radio] + label {
	display: block;
	float: left;
	width: auto;
	height: 58px;
}

li.radio_btn input[type=radio].primer + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 185px;
	padding-left: 15px;
	padding-right: 15px;
}

li.radio_btn input[type=radio].primer:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.radio_btn input[type=radio].otro + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 185px;
	padding-left: 15px;
	padding-right: 15px;
}
li.radio_btn input[type=radio].otro:checked + label{
	background: #000 no-repeat;
	color: #fff;
}


.radio_btn input[type=radio] + label .flaticon2-checkmark{
	display: none;
	background: transparent no-repeat;
	position: relative;
}
.radio_btn input[type=radio]:checked + label .flaticon2-checkmark{
	display: inline-block;
	background: transparent no-repeat;
	margin-left: 5px;
}


/* radio-box Radioboton pequeño */

li.radpe_btn {
	width: auto;
}

li.radpe_btn label{
	border: 1px solid #000;
	display: inline-block;
	font-size: 1.3rem;
	color: #333;
	line-height: 39px;
}

li.radpe_btn input[type=radio] {
	display: none;
}
li.radpe_btn input[type=radio] + label {
	display: block;
	float: left;
	width: auto;
	height: 40px;
}

li.radpe_btn input[type=radio].pizq + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 78px;
	padding-left: 15px;
	padding-right: 15px;
}

li.radpe_btn input[type=radio].pizq:checked + label{
	background: #000 no-repeat;
	color: #fff;
}


li.radpe_btn input[type=radio].pder + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 78px;
	padding-left: 15px;
	padding-right: 15px;
}
li.radpe_btn input[type=radio].pder:checked + label{
	background: #000 no-repeat;
	color: #fff;
}


.radpe_btn input[type=radio] + label .flaticon2-checkmark{
	display: none;
	background: transparent no-repeat;
	position: relative;
}
.radpe_btn input[type=radio]:checked + label .flaticon2-checkmark{
	display: inline-block;
	background: transparent no-repeat;
	margin-left: 5px;
}

/* radioboton campo emergente checkbox de audiencia  */
.sav-aud li.radpe_btn label {
	font-size: 1.1rem;
}
.sav-aud li.radpe_btn input[type=radio].pizq + label {
	min-width: 290px;
}
.sav-aud li.radpe_btn input[type=radio].pder + label {
	min-width: 290px;
}
.sav-aud ul{
	padding-left: 10rem;
}


/*   ------------ pequeño trio de radioboton de Genero ---------------       */

fieldset.gender ul li {
	display: table-cell;
	list-style: none;
	width: auto;
	height: 50px !important;
	text-align: center;
	padding: 0 !important;
	vertical-align: top !important;
}


li.radpe_btn_gen {
	width: auto;
}

li.radpe_btn_gen label{
	border: 1px solid #000;
	display: inline-block;
	font-size: 1.3rem;
	color: #333;
	line-height: 39px;
}

li.radpe_btn_gen input[type=radio] {
	display: none;
}
li.radpe_btn_gen input[type=radio] + label {
	display: block;
	float: left;
	width: auto;
	height: 40px;
}

li.radpe_btn_gen input[type=radio].tod + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}

li.radpe_btn_gen input[type=radio].tod:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.radpe_btn_gen input[type=radio].rss + label,
li.radpe_btn_gen input[type=radio].ganalitycs + label,
li.radpe_btn_gen input[type=radio].latestposts + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}

li.radpe_btn_gen input[type=radio].rss:checked + label,
li.radpe_btn_gen input[type=radio].ganalitycs:checked + label,
li.radpe_btn_gen input[type=radio].latestposts:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.radpe_btn_gen input[type=radio].hom + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}
li.radpe_btn_gen input[type=radio].hom:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.radpe_btn_gen input[type=radio].muj + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}
li.radpe_btn_gen input[type=radio].muj:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

.select_latestposts_post {
	height: 50px;
	padding: 0;
}

.radpe_btn_gen input[type=radio] + label .flaticon2-checkmark{
	display: none;
	background: transparent no-repeat;
	position: relative;
}
.radpe_btn_gen input[type=radio]:checked + label .flaticon2-checkmark{
	display: inline-block;
	background: transparent no-repeat;
	margin-left: 5px;
}


/*   ---------     Adaptacion para botones de targeting   ---------      */
fieldset.seg-det ul li{
	height: auto;
	min-height: 60px;
	padding: 0 10px 0 10px;
}

fieldset.seg-det ul{
	padding: 0;
}

li.radpe_btn_gen.segdet input[type=radio] + label {
	height: 30px;
}
li.radpe_btn_gen.segdet label {
	font-size: 1.2rem;
	line-height: 30px;
}
/**
    radpe_btn_gen_actions
**/
li.radpe_btn_gen_actions {
	width: auto;
}

li.radpe_btn_gen_actions label{
	border: 1px solid #000;
	display: inline-block;
	font-size: 1.3rem;
	color: #333;
	line-height: 39px;
}

li.radpe_btn_gen_actions input[type=radio] {
	display: none;
}
li.radpe_btn_gen_actions input[type=radio] + label {
	display: block;
	float: left;
	width: auto;
	height: 40px;
}

li.radpe_btn_gen_actions input[type=radio].tod + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}

li.radpe_btn_gen_actions input[type=radio].tod:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.radpe_btn_gen_actions input[type=radio].rss + label,
li.radpe_btn_gen_actions input[type=radio].ganalitycs + label,
li.radpe_btn_gen_actions input[type=radio].latestposts + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}

li.radpe_btn_gen_actions input[type=radio].rss:checked + label,
li.radpe_btn_gen_actions input[type=radio].ganalitycs:checked + label,
li.radpe_btn_gen_actions input[type=radio].latestposts:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.radpe_btn_gen_actions input[type=radio].hom + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}
li.radpe_btn_gen_actions input[type=radio].hom:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.radpe_btn_gen_actions input[type=radio].muj + label{
	background: #fff no-repeat;
	width: fit-content;
	min-width: 100px;
	padding-left: 15px;
	padding-right: 15px;
}
li.radpe_btn_gen_actions input[type=radio].muj:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

.radpe_btn_gen_actions input[type=radio] + label .flaticon2-checkmark{
	display: none;
	background: transparent no-repeat;
	position: relative;
}
.radpe_btn_gen_actions input[type=radio]:checked + label .flaticon2-checkmark{
	display: inline-block;
	background: transparent no-repeat;
	margin-left: 5px;
}

li.radpe_btn_gen_actions.segdet input[type=radio] + label {
	height: 30px;
}
li.radpe_btn_gen_actions.segdet label {
	font-size: 1.2rem;
	line-height: 30px;
}
/* ------ Audiencia personalizada  ---------   */

.form-group.aud-per{
	padding: 40px 10px;
}

.aud-per div > span{


}
/* -------------radio-box Radioboton Grande ----------------------------- */
/* .rad_btn_1 ul{
	margin-left: auto;
	margin-right: auto;
}

.rad_btn_2 ul{
	margin-left: auto;
	margin-right: auto;
}

li.rad_btn {
	width: auto;
	list-style: none;
}


li.rad_btn label{
	border: 1px solid #000;
	display: inline-block;
	font-size: 1.5rem;
	color: #fff;
	line-height: 50px;
	text-align: center;
} */
 li.rad_btn input[type=radio] {
	display: none;
}
/*
li.rad_btn input[type=radio] + label {
	display: block;
	float: left;
	width: auto;
	height: 70px;
	padding: 10px;
}

li.rad_btn input[type=radio].btn_izq + label{
	background: #fff no-repeat;
	min-width: 300px;
	color: black;
}

li.rad_btn input[type=radio].btn_izq:checked + label{
	background: #000 no-repeat;
	color: #fff;
}

li.rad_btn input[type=radio].btn_der + label{
	background: #fff no-repeat;
	color: #000;
	min-width: 300px;
}
li.rad_btn input[type=radio].btn_der:checked + label{
	background: #000 no-repeat;
	color: #fff;
}


.rad_btn input[type=radio] + label .fa.fa-check-circle{
	display: none;
	background: transparent no-repeat;
	position: relative;
}
.rad_btn input[type=radio]:checked + label .fa.fa-check-circle{
	display: inline-block;
	background: transparent no-repeat;
	color: #0abb87;
	margin-left: 5px;

} */

/*--------------Pequeños estilos para boton anuncio---------------------- */

#boton-anuncio{
	margin: auto;
	border: 1px solid #6c7293;
}

.btn.btn-secondary.btn-lg .la.la-plus{
	font-weight: 600;
	font-size: 2.25rem !important;
	margin-left: 10px;
}

/* ------- estilos del cuerpo ------- */
.kt-wizard-v1 .kt-wizard-v1__wrapper .kt-form{
	width: 90%;
}

/* ------ estilo del espacio del form  ----- */
.form-group {
	margin-bottom: 1rem !important;
}
/* Boton de Audiencia*/
#audinc{
	margin: 10px;
	border: 1px solid #807895;
	background-color: #fff;
}
#audinc:hover{
	border-color: #6C7293 !important;
}
#audinc i{
	margin-left: 10px;
}
/* .row{
	padding-left: 5px;
} */
/* .form-control.serch-aud{
	margin-left: 5px;
} */
/* Boton "Confirmar" de audiencia */
.btn-success.confirm{
	background-color: #04CF0A;
	border-color: #04CF0A;
}
.btn-success.confirm:hover {
	color: #fff;
	background-color: #3EBC41;
	border-color: #3EBC41;
}
.btn-success.confirm:not(:disabled):not(.disabled):active{
	color: #6C7293;
	background-color: #3EBC41;
	border-color: #3EBC41;
	box-shadow: 0 0 7px #6C7293 !important;
}

label.lod-aud {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left:auto;
	margin-right: auto;
	cursor: pointer;
	margin-top: 10px;
	border: 1px solid #7987AF;
	height: 35px;
	width: 150px;
	color: #7987AF;
	background: #FDFDFD;


}

.lod-aud input {
	position: absolute;
	opacity: 0;
	cursor: pointer;

}

/* add background color when the checkbox is checked */
.lod-aud input:checked ~ .btn_a {
	background-color: #F8F8F8;
	border:1px solid #7987AF;
	display: flex;
	height: 35px;
	width: 150px;
	padding: 7px 0 10px 16px;
	margin-left:auto;
	margin-right: auto;
	color: #B2B7C6;
}

.btn_a{
	margin-left:auto;
	margin-right: auto;
	font-size:1rem;
	padding: 10px 5px;

}

/*  estilos boton map */
.btn-success.map{
	background-color: #F8F8F8;
	border-color: #EBEDF2;
	text-align: center;
	color: #000;
}
.btn-success.map:hover{
	background-color: #E9EAED;
	border-color: #EBEDF2;
}
/* input de ubicación  */

.form-control.ubic{
	margin-left: 0px !important;
}
.form-control.selct{
	margin-right: 0px !important;
	width: auto;
}
span.select2-selection__arrow {
	padding-left: 10px;
}

span.select2-selection__rendered{
	padding: 0.65rem 1.5rem !important;
}
/* Select debajo del input de ubicacion */
.form-control.slct.m-select2{
	background: #0000000d;
	border-color: transparent;
	color: #000;
	width: auto;
	margin-top: 5px;
	padding: 0px 0px;
	height: 22px;
}
.form-group.row.slct{
	margin-top: -20px !important;
}

/* Dropzone del radio carga masiva */
.kt-section.dropz {
	padding: 25px;
}

.dropzone.dropz {
	border: 1px solid #646C9A;
	border-radius: 4px;
	padding: 0px;
	text-align: center;
	min-height: 50px;
}
.dropzone .dz-message {
	text-align: center;
	margin: 1em 0;
}
h3.kt-dropzone__msg-title{
	font-size: 1rem;
	margin-bottom: 0rem;
	font-weight: 420;
	line-height: normal;

}
.dropzone .dz-message.upimg {
	color: #fff;
}
.col-md-6 span{
	font-weight: 500;
	font-size: 1.1rem;
}

/* Estilos de select lenguage  */

#sele_leng + span input{
	width: auto;
	min-width: 200px !important;
}

/* estilos Agepicker */

input.form-control.agepckr{
	margin-left: 0px;
	border: 1px solid #8094BC;
}
.demog .col-md-2,
.demog .col-md-3,
.demog .col-md-6,
.demog .col-md-7,
.demog.col-md-12{
	max-height: 60px;
}

/*  -- checkbox de "Segmentación Detallada" ---  */

.kt-checkbox.kt-checkbox--bold.kt-checkbox--brand.segm{
	margin: 10px 0px 10px 15px;
	padding-left: 25px;
}

/* Estilos del acordeon de demografía   */
.accordion.accordion-toggle-arrow .card .card-header .card-title:after{
	font-weight: 600;
	text-shadow: 0px -2px #000;
	font-size: 1.5rem;
}
.accordion.accordion-toggle-arrow .card .card-header .card-title.collapsed:after {
	text-shadow: 0px -2px #000;
	font-size: 1.5rem;
	font-weight: 600;
}
.accordion.accordion-light .card .card-header .card-title {
	padding: 0.25rem 1rem;
	background-color: #F0F0F0;
}
.accordion.accordion-light .card:last-child .card-body {
	padding: 1rem;
}

.accordion.accordion-light.accordion-toggle-plus{
	margin: 2rem 0;
}

.card-title.demog {
	max-width: 335px;

}
.accordion.accordion-toggle-arrow .card .card-header .card-title.collapsed {
	color: #000;
}

.kt-input-icon.segm{
	width: 70% !important;
	padding-top: 2rem !important;
}


/* estilos presupuesto y licitacion */
.input-group.budbid{
	width: 20%;
	margin-left: 10px;
}
.budbid span{
	height: 38px;
}
.bud-bid li{
	height: auto;
	padding: 0;
}

/*  ---   campo Distribucion del presupuesto  ---    */
.col-md-7.bud_dist{
	flex: 0 0 60.33333%;
	max-width: 59.33333%;
}

.msg.presp{
	margin-bottom: 3rem;
}

.form-group.row.optm{
	margin-top: 2rem;
}

/*  estilo de campo de warning   */
.msg-w{
	background-color: #FFE1AE;
	color: #E17000;
	padding: 5px 10px;
	margin: 10px;
}
.msg-w.twe{
	font-size: 0.8rem;
}
.msg-w .fa{
	padding-right: 10px;
	font-size: 1.5rem;
}

.msg-w p{
	margin-top: 1rem;
}

.kt-heading.pub-lish.kt-heading--md{
	color: #46B346;
	font-size: 1.7rem;
}
.pub_lish{
	font-size: 1rem;
}


/* -------------checkbox Radiobox boton Grande facebook twiter select  ------------------ */

.btnft{
	margin:auto;
	padding: 0;
}

li.rad_btn {
	width: auto;
	list-style: none;
}


/* li.rad_btn label{
	border: 1px solid #000;
	display: inline-block;
	font-size: 1.5rem;
	color: #fff;
	line-height: 50px;
	text-align: center;
}*/

 li.rad_btn input[type=checkbox] {
	display: none;
} 
/*
li.rad_btn input[type=checkbox] + label {
	display: block;
	float: left;
	width: auto;
	height: 70px;
	padding: 10px;
} */

/* li.rad_btn input[type=checkbox].redSocial + label{
	background: #fff no-repeat;
	min-width: 200px;
	color: #000;
	margin: 5px 10px;
} */
/* li.rad_btn input[type=checkbox].redSocial:checked + label{
	background: #000 no-repeat;
    color: #fff;
    box-shadow: 2px 2px 1px 0px black;
} */

.rad_btn input[type=checkbox] + label .fa.fa-check-circle{
	display: none;
	background: transparent no-repeat;
	position: relative;
}
.rad_btn input[type=checkbox]:checked + label .fa.fa-check-circle{
	display: inline-block;
	background: transparent no-repeat;
	color: #ffc626;
	margin-left: 5px;

}

/* .rad_btn_checkbox{
	background: #fff no-repeat;
	min-width: 200px;
	color: #000;
	margin: 5px 10px;
	border: 1px solid #000;
	font-size: 1.5rem;
	line-height: 50px;
	text-align: center;
	display: block;
	float: left;
	width: auto;
	height: 70px;
	padding: 10px;
} */

.rad_btn_checkbox:hover{
	color: #000;
}
.fab{
	padding-right: 10px;
	font-size: 3rem;
}



/* estilos campo step 2: Elementos  */

.form-group.mini-btn.row.col-md-12{
	max-height: 60px;
}

/*	Titulo con linea de separacion  */
.headline .col-md-9{
	margin: 37px 0 13px -20px;
	max-width: 100%;
}

/* espacio al inicio y final de los steps */
.kt-form{
	padding-top: 0px;
	padding-bottom: 0px;
}

/* campo select de página   */

.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus{
	width: 100% !important;

}
.select2.select2-container.select2-container--default{
	width: 100% !important;
}

/* Iconos de campo Facebook Instant Experience  */

.fa.fa-external-link-alt.fbie{
	margin-left: 5px;
}

.fa.fa-question-circle{
	margin-right: 5px;
}

/* Campo etiqueta socio de negocios   */

.etiq div{
	padding: 11px 10px 29px;
}

.etiq label.col-sm-1{
	max-width: 22px;
	padding: 10px 0;
}

.etiq .fa.fa-handshake{
	font-size: 1.5rem;
}

.form-control.disp_link{
	margin-left: 20px;
}
.dropdown.show{
	line-height: 0;	
}

.card-body label{
	margin-bottom: 1.5rem;
}

/* radios de ubicacion de audiencia */
.kt-radio.kt-radio--solid.kt-radio--brand.locat{
	width: 100%;
}
.language-box
{
	position: absolute;
	background: white;
	box-shadow: 0 0 2px grey;
	border-radius: 1px;
	z-index: 1;
}

/* header y subheader */
#kt_subheader{
	height: 35px !important;
	background: #000 !important;
}

.kt-subheader__title{
	color: #fff !important;
}

.la.la-bullhorn{
	font-size: 1.5em;
	padding-right: 5px;
}

.flaticon2-digital-marketing{
	font-size: 1.5em;
	padding-right: 5px;
}

/* Centrado de formularios */
.form-ctr{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.location-box{
	position: absolute;
	margin-left: 87px;
	background: white;
	box-shadow: 0 0 2px grey;
	border-radius: 1px;
	margin-top: 35px;
	z-index: 1;
}
.intereses-box{
	position: absolute;
	background: white;
	box-shadow: 0 0 2px grey;
	border-radius: 1px;
	z-index: 1;
}
.audiencia-box{
	position: absolute;
	background: white;
	box-shadow: 0 0 2px grey;
	border-radius: 1px;
	margin: 0px;
	z-index: 1;
}
.posts-box{
	position: absolute;
	background: white;
	box-shadow: 0 0 2px grey;
	border-radius: 1px;
	margin: 0px;
	z-index: 1;
}

.location-box ul,
.language-box ul,
.intereses-box ul,
.audiencia-box ul,
.posts-box ul
{
	padding-left: 0px;
	margin: 0px;
}
.location-box ul li,
.language-box ul li,
.intereses-box ul li,
.audiencia-box ul li,
.posts-box ul li
{
	list-style-type: none;
	box-shadow: 0 0 1px grey;
	width: 100%;
	padding: 10px 15px 10px 25px;
}
.location-box ul li span,
.language-box ul li span,
.intereses-boxx ul li span,
.audiencia-box ul li span,
.posts-box ul li span
{
	margin-left: 20px;
	float: right;
}
.location-box ul li:hover,
.language-box ul li:hover,
.intereses-box ul li:hover,
.audiencia-box ul li:hover,
.posts-box ul li:hover
{
	background: #000;
	color: white;
}
label.disabled {
	color: grey !important;
	background: repeating-linear-gradient( 45deg, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 20px, #cccccc 30px, #cccccc 30px ) !important;
}
.from-api .kt-input-icon.segm.col-md-10 {
	padding-top: 0px !important;
}

.location-list li,
.language-list li,
.intereses-list li,
.audiencia-list li,
.posts-list li
{
	padding: 5px 12px;
	list-style-type: none;
	display: inline;
	margin: 0px 15px 3px 0px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	white-space: nowrap;
}

.location-list li.IN,
.language-list li.IN,
.intereses-list li.IN,
.audiencia-list li.IN,
.posts-list li.IN
{
	background: #000;
}

.location-list li.EX,
.language-list li.EX,
.intereses-list li.EX,
.audiencia-list li.EX
{
	background: #fd397a;
}

/* ul.location-list, */
/* ul.language-list, */
ul.language-box,
/* ul.intereses-list, */
/* ul.audiencia-list, */
ul.posts-list
{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 90%;
	height: auto;
	display: contents;
}

/* ul.language-list{
	margin: 10px 0;
} */
ul.location-list i,
ul.language-list i,
ul.language-box i,
ul.intereses-list i,
ul.audiencia-list i,
ul.posts-list i
{
	margin-left: 5px;
	cursor: pointer;
}
.kt-input-icon.segm{
	padding-top: 0px !important;
}

.alert.alert-warning,
.alert.alert-success
{
	box-shadow: 0px 5px 5px lightgrey;
	padding: 0px 15px;
	font-weight: bold;
}

.alert.alert-warning  ul {
	vertical-align: middle;
	display: table-cell;
}
.alert.alert-warning  li {
	list-style: none;
	font-weight: bold;
	color: #111133;
	padding: 1px 0px;
}
.alert.alert-warning .kt-font-brand {
	color: #111133 !important;
}
.form-group.form-group-last {
	box-shadow: 0px 3px 2px lightgrey;
}

.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control {
	background: white;
}

.withcampaings tbody tr{
	text-align: left;
}
table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
	font-weight: bold;
	font-style: italic;
	text-shadow: 0px 1px grey;
}

tr.campana td >.row {
	padding: 20px;
}
table.dataTable tbody tr.account{
	cursor: pointer;
}
tr.campana td >.row > div {
	padding: 20px;
}

.form-porcen{
	width: 65%;
	display: inline !important;
	text-align: center;
}

.cbbadget{
	padding-left: 20px !important;
}
.css-tagsinput{
	margin-top: 1rem;
}

.active-actions-fields{
	background: #000 no-repeat !important;
	color: #fff !important;
}
.kt-font-brand{
	padding: 4px;
	
}
.kt-font-brand:hover{
	color: #fff!important;
    background-color: #000;
    padding: 4px;
    border-radius: 4px;
	
}
i.kt-font-brand:hover{
	cursor: pointer;
}
.channels-active{
	color: #ffc626 !important;
}



