	.rad_btn {
		width: auto;
		list-style: none;
		background-color: #f9f9fc;
		padding: 15px;
		border: 1.5px solid #000;
	}

	.rad_btn label.rrss{
		border: 1px solid #0000;
		display: inline-block;
		font-size: 1rem;
		color: #333;
		line-height: 50px;
		text-align: center;
	}

	.rad_btn input[type=checkbox] {
		display: none;
	}
	.rad_btn input[type=checkbox] + label {
		display: block;
		width: auto;
		height: 40px;
		padding: 0px;
	}

	.rad_btn input[type=checkbox].redSocial + label{
		background: #fff no-repeat;
		min-width: 130px;
		color: #000;
		margin: 40px 0px;
	}
	.rad_btn input[type=checkbox].redSocial:checked + label{
		background: #000 no-repeat;
		color: #fff;
		box-shadow: -1px 2px 1px white;
	}

	.rad_btn input[type=checkbox] + label .fa.fa-check-circle{
		display: none;
		background: transparent no-repeat;
		position: relative;
	}
	.rad_btn input[type=checkbox]:checked + label .fa.fa-check-circle{
		display: inline-block;
		background: transparent no-repeat;
		color: #94F705;
		margin-left: 5px;

	}
	
	.rad_btn_checkbox{
		background: #fff no-repeat;
		min-width: 200px;
		color: #000;
		margin: 5px 10px;
		border: 1px solid #000;
		font-size: 1.5rem;
		line-height: 50px;
		text-align: center;
		display: block;
		float: left;
		width: auto;
		height: 70px;
		padding: 10px;
	}

	.rad_btn_checkbox:hover{
		color: #000;
	}
	.fab{
		padding-right: 10px;
    	font-size: 2rem;
	}

