#interes-twitter-box,
#interes-linkedin-box,
#interes-instagram-box,
#interes-snapchat-box,
#interes-amazon-box,
#interes-adwords-box
{
    max-height: 200px;
    overflow: auto;
    min-width: 300px;
}

#interes-twitter-box,
#interes-linkedin-box,
#interes-instagram-box,
#interes-snapchat-box,
#interes-amazon-box,
#interes-adwords-box
{
	position: absolute;
	margin-left: 87px;
	background: white;
	box-shadow: 0 0 2px grey;
	border-radius: 1px;
	margin-top: 35px;
	z-index: 1;
}

#interes-twitter-box ul,
#interes-linkedin-box ul,
#interes-instagram-box ul,
#interes-snapchat-box ul,
#interes-amazon-box ul,
#interes-adwords-box ul
{
	padding-left: 0px;
	margin: 0px;
}

#interes-twitter-box ul li,
#interes-linkedin-box ul li,
#interes-instagram-box ul li,
#interes-snapchat-box ul li,
#interes-amazon-box ul li,
#interes-adwords-box ul li
{
	list-style-type: none;
	box-shadow: 0 0 1px grey;
	width: 100%;
	padding: 10px 15px 10px 25px;
}

#interes-twitter-box ul li span,
#interes-linkedin-box ul li span,
#interes-instagram-box ul li span,
#interes-snapchat-box ul li span,
#interes-amazon-box ul li span,
#interes-adwords-box ul li span
{
	margin-left: 20px;
	float: right;
}

#interes-twitter-box ul li:hover,
#interes-linkedin-box ul li:hover,
#interes-instagram-box ul li:hover,
#interes-snapchat-box ul li:hover,
#interes-amazon-box ul li:hover,
#interes-adwords-box ul li:hover
{
	background: #000;
	color: white;
}

#interes-twitter-list li,
#interes-linkedin-list li,
#interes-instagram-list li,
#interes-snapchat-list li,
#interes-amazon-list li,
#interes-adwords-list li
{
	padding: 5px 12px;
	list-style-type: none;
	display: inline;
	margin: 0px 15px 3px 0px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	white-space: nowrap;
}

#interes-twitter-list li.IN,
#interes-linkedin-list li.IN,
#interes-instagram-list li.IN,
#interes-snapchat-list li.IN,
#interes-amazon-list li.IN,
#interes-adwords-list li.IN
{
	background: #000;
}

#interes-twitter-list li.EX,
#interes-linkedin-list li.EX,
#interes-instagram-list li.EX,
#interes-snapchat-list li.EX,
#interes-amazon-list li.EX,
#interes-adwords-list li.EX
{
	background: #fd397a;
}

ul#interes-twitter-list,
ul#interes-linkedin-list,
ul#interes-instagram-list,
ul#interes-snapchat-list,
ul#interes-amazon-list,
ul#interes-adwords-list
{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 90%;
	height: auto;
}

ul#interes-twitter-list i,
ul#interes-linkedin-list i,
ul#interes-instagram-list i,
ul#interes-snapchat-list i,
ul#interes-amazon-list i,
ul#interes-adwords-list i
{
	margin-left: 5px;
	cursor: pointer;
}