		.kt-subheader .btn {
		    display: -webkit-inline-box;
		    display: -ms-inline-flexbox;
		    display: inline-flex;
		    height: 32px !important;
		    padding-top: 0;
		    padding-bottom: 0;
		    margin-top: .15rem;
		    margin-bottom: .15rem;
		}
        /* .datepicker {
            top: 120px !important;
        } */

		/* .btn {
		    display: inline-block;
		    font-weight: 400;
		    color: #000;
		    text-align: center;
		    vertical-align: middle;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    background-color: transparent;
		    border: 1px solid transparent;
		    padding: .65rem 1rem;
		        padding-top: 0.65rem;
		        padding-bottom: 0.65rem;
		    font-size: 0.9rem;
		    line-height: 1.0;
		    border-radius: .25rem;
		    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
		    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
		    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
		} */

		.kt-subheader1{
		    color:#959cb6;
		    font-weight: 500;
		}

		.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
		    color: #ffffff;
		    background-color: #000;
		    border-color: #ffffff;
		}

		.btn-secondary:hover {
		  color: #000;
			background-color:#ffffff;
			border-color:#ffffff;
		}

    	.alineacion{
		    float: left;
		}

		.alineacion2{
		    float: right;
		}

		.btn-primary:hover {
		    color: #5d78ff;
			background-color: #ececee;
			border-color: #ececee;
		}

		.fila{
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.radioboton{
			padding-right: 10px;
		}

		.stiloinput{
			 width: 100%;
			 padding-right: 5px;
			 padding-left: 5px;
			 text-align-last: center;
		}

		.parrafo1{
			text-align: left;
			font-size: 1.3rem;
		}

		.parrafo2{
			text-align: left;
			font-size: 16px;
		}

		.parrafo3{
			padding-left: 15px;
		}

		.card-body {
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	    padding: 0.8rem;
		}

		p {
    	margin-top: 0;
    	margin-bottom: 0.5rem !important;
		}

		/* .form-control {
		    display: block;
		    width: 100%;
		    height: calc(1.5em + 0.75rem + 2px);
		    padding: 0.375rem 0.75rem;
		        padding-right: 0.75rem;
		        padding-left: 0.75rem;
		    font-size: 0.95rem;
		    font-weight: 400;
		    line-height: 1.5;
		    color: #495057;
				background-color:#fff;
				background-clip: padding-box;
				border: 1px solid
		    #ced4da;
		    border-radius: 0.25rem;
		    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		} */

		/* li.rad_btn input[type="checkbox"].redSocial + label {
		    background: #fff no-repeat;
				min-width: 200px;
				color: #000;
		    margin: 5px 10px;
		}

		li.rad_btn input[type="checkbox"].redSocial:checked + label {
			    background: #000 no-repeat;
					color: #fff;
					box-shadow: -1px 2px 1px white;
		} */

		/* li.rad_btn label {
		    border: 1px solid #000;
		    display: inline-block;
		    font-size: 1.5rem;
		    color: #fff;
		    line-height: 50px;
		    text-align: center;
		} */

		.form-group {
		    margin-bottom: 1rem !important;
		}

		/* .form-group label {
		    font-size: 1rem;
		    font-weight: 400;
		} */

		label, input {
		    cursor: pointer;
		}

		input, button, select, optgroup, textarea {
		    margin: 0;
		    font-family: inherit;
		    font-size: inherit;
		    line-height: inherit;
		}

		.btnft {
		    margin: auto;
		    padding: 0;
		}

		li.rad_btn {
		    width: auto;
		    list-style: none;
		}

		.row {
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    margin-right: -10px;
		    margin-left: -10px;
		}

		.rad_btn input[type="checkbox"]:checked + label .fa.fa-check-circle {
		    display: inline-block;
		    background: transparent no-repeat;
				color: #94F705;
		    margin-left: 5px;
		}

		.fab {
		    font-size: 3rem;
		}

		.fab {
		    font-family: "Font Awesome 5 Brands";
		}

		.fa, .fab, .fal, .far, .fas {
		    -moz-osx-font-smoothing: grayscale;
		    -webkit-font-smoothing: antialiased;
		    display: inline-block;
		    font-style: normal;
		    font-variant: normal;
		    text-rendering: auto;
		    line-height: 1;
		}

		*, ::before, ::after {
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		}
/* 
		.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    border-top-left-radius: 0;
		    border-bottom-left-radius: 0;
		}

		.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    border-top-left-radius: 0;
		    border-bottom-left-radius: 0;
		}

		.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    border-top-left-radius: 0;
		    border-bottom-left-radius: 0;
		}
 */
		.btn-secondary:focus, .btn-secondary.focus {
		    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.9);
		}

		.btn:focus, .btn.focus {
		    outline: 0;
		    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.9);

		}

		/* button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {

		    cursor: pointer;
		    background-color: #000;
        border-color: black;
				color: #fff;
		    font-weight: 500;

		} */

		/* .btn-primary {
		  color: #5d78ff;
		  background-color: #ffffff;
		  border-color: #007bff;
		}

		.btn-primary:hover {
		  color: #5d78ff;;
		  background-color: rgba(77, 89, 149, 0.06);
		  border-color: #0062cc;
		}

		.btn-primary:focus, .btn-primary.focus {
		  box-shadow: 0 0 0 0.0rem rgba(255, 255, 255, 0.00);
		}

		.btn-primary.disabled, .btn-primary:disabled {
		  color: #5d78ff;
		  background-color: #007bff;
		  border-color: #007bff;
		}

		.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
		.show > .btn-primary.dropdown-toggle {
		  color: #5d78ff;
		  background-color: rgba(77, 89, 149, 0.06);
		 border-color: #005cbf;
		} */

		.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
		.show > .btn-primary.dropdown-toggle:focus {
		  box-shadow: 0 0 0 0.0rem rgba(255, 255, 255, 0.00);
		}
		.dropdown-toggle.btn-light{
			height: calc(1.5em + 1.3rem + 2px);
		}

		.dropdown.show {
			padding: 0px;
		}

		/*.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper{
			padding-top:87px;
		}

		.row {
			padding-left: 0px;
		}*/

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem; }
  .switch label {
    margin: 0; }
  .switch input:empty {
    margin-left: -999px;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0; }
  .switch input:empty ~ span {
    display: inline-block;
    position: relative;
    float: left;
    width: 1px;
    text-indent: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .switch input:empty ~ span:before,
  .switch input:empty ~ span:after {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in; }
  .switch input[disabled] {
    cursor: not-allowed; }
    .switch input[disabled] ~ span:after,
    .switch input[disabled] ~ span:before {
      cursor: not-allowed;
      opacity: 0.5; }
  .switch.switch-icon input:checked ~ span:after {
    font-family: Ki;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "";
    line-height: 0; }

.switch input:empty ~ span {
  margin: 2px 0;
  height: 30px;
  width: 57px;
  border-radius: 15px; }

.switch input:empty ~ span:before,
.switch input:empty ~ span:after {
  width: 54px;
  border-radius: 15px; }

.switch input:empty ~ span:after {
  height: 24px;
  width: 24px;
  top: 3px;
  bottom: 3px;
  margin-left: 3px;
  font-size: 0.65em;
  text-align: center;
  vertical-align: middle; }

.switch input:checked ~ span:after {
  margin-left: 26px; }

.switch.switch-sm input:empty ~ span {
  margin: 2px 0;
  height: 24px;
  width: 40px;
  border-radius: 12px; }

.switch.switch-sm input:empty ~ span:before,
.switch.switch-sm input:empty ~ span:after {
  width: 38px;
  border-radius: 12px; }

.switch.switch-sm input:empty ~ span:after {
  height: 20px;
  width: 20px;
  top: 2px;
  bottom: 2px;
  margin-left: 2px;
  font-size: 0.55em;
  text-align: center;
  vertical-align: middle; }

.switch.switch-sm input:checked ~ span:after {
  margin-left: 16px; }

.switch.switch-lg input:empty ~ span {
  margin: 2px 0;
  height: 40px;
  width: 75px;
  border-radius: 20px; }

.switch.switch-lg input:empty ~ span:before,
.switch.switch-lg input:empty ~ span:after {
  width: 72px;
  border-radius: 20px; }

.switch.switch-lg input:empty ~ span:after {
  height: 34px;
  width: 34px;
  top: 3px;
  bottom: 3px;
  margin-left: 3px;
  font-size: 0.75em;
  text-align: center;
  vertical-align: middle; }

.switch.switch-lg input:checked ~ span:after {
  margin-left: 34px; }

.switch input:empty ~ span:before {
  background-color: #EBEDF3; }

.switch input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch input:checked ~ span:before {
  background-color: #EBEDF3; }

.switch input:checked ~ span:after {
  opacity: 1;
  color: #ffffff;
  background-color: #000; }

.switch.switch-primary:not(.switch-outline) input:empty ~ span:before {
  background-color: #000; }

.switch.switch-primary:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-primary:not(.switch-outline) input:checked ~ span:before {
  background-color: #3699FF; }

.switch.switch-primary:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #3699FF;
  background-color: #ffffff; }

.switch.switch-outline.switch-primary input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-primary input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-primary input:checked ~ span:before {
  border: 2px solid #3699FF;
  background-color: transparent; }

.switch.switch-outline.switch-primary input:checked ~ span:after {
  color: #ffffff;
  background-color: #3699FF; }

.switch.switch-secondary:not(.switch-outline) input:empty ~ span:before {
  background-color: #E4E6EF; }

.switch.switch-secondary:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-secondary:not(.switch-outline) input:checked ~ span:before {
  background-color: #E4E6EF; }

.switch.switch-secondary:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #E4E6EF;
  background-color: #ffffff; }

.switch.switch-outline.switch-secondary input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-secondary input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-secondary input:checked ~ span:before {
  border: 2px solid #E4E6EF;
  background-color: transparent; }

.switch.switch-outline.switch-secondary input:checked ~ span:after {
  color: #ffffff;
  background-color: #E4E6EF; }

.switch.switch-success:not(.switch-outline) input:empty ~ span:before {
  background-color: #1BC5BD; }

.switch.switch-success:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-success:not(.switch-outline) input:checked ~ span:before {
  background-color: #1BC5BD; }

.switch.switch-success:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #1BC5BD;
  background-color: #ffffff; }

.switch.switch-outline.switch-success input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-success input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-success input:checked ~ span:before {
  border: 2px solid #1BC5BD;
  background-color: transparent; }

.switch.switch-outline.switch-success input:checked ~ span:after {
  color: #ffffff;
  background-color: #1BC5BD; }

.switch.switch-info:not(.switch-outline) input:empty ~ span:before {
  background-color: #8950FC; }

.switch.switch-info:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-info:not(.switch-outline) input:checked ~ span:before {
  background-color: #8950FC; }

.switch.switch-info:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #8950FC;
  background-color: #ffffff; }

.switch.switch-outline.switch-info input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-info input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-info input:checked ~ span:before {
  border: 2px solid #8950FC;
  background-color: transparent; }

.switch.switch-outline.switch-info input:checked ~ span:after {
  color: #ffffff;
  background-color: #8950FC; }

.switch.switch-warning:not(.switch-outline) input:empty ~ span:before {
  background-color: #FFA800; }

.switch.switch-warning:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-warning:not(.switch-outline) input:checked ~ span:before {
  background-color: #FFA800; }

.switch.switch-warning:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #FFA800;
  background-color: #ffffff; }

.switch.switch-outline.switch-warning input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-warning input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-warning input:checked ~ span:before {
  border: 2px solid #FFA800;
  background-color: transparent; }

.switch.switch-outline.switch-warning input:checked ~ span:after {
  color: #ffffff;
  background-color: #FFA800; }

.switch.switch-danger:not(.switch-outline) input:empty ~ span:before {
  background-color: #F64E60; }

.switch.switch-danger:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-danger:not(.switch-outline) input:checked ~ span:before {
  background-color: #F64E60; }

.switch.switch-danger:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #F64E60;
  background-color: #ffffff; }

.switch.switch-outline.switch-danger input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-danger input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-danger input:checked ~ span:before {
  border: 2px solid #F64E60;
  background-color: transparent; }

.switch.switch-outline.switch-danger input:checked ~ span:after {
  color: #ffffff;
  background-color: #F64E60; }

.switch.switch-light:not(.switch-outline) input:empty ~ span:before {
  background-color: #F3F6F9; }

.switch.switch-light:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-light:not(.switch-outline) input:checked ~ span:before {
  background-color: #F3F6F9; }

.switch.switch-light:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #F3F6F9;
  background-color: #ffffff; }

.switch.switch-outline.switch-light input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-light input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-light input:checked ~ span:before {
  border: 2px solid #F3F6F9;
  background-color: transparent; }

.switch.switch-outline.switch-light input:checked ~ span:after {
  color: #ffffff;
  background-color: #F3F6F9; }

.switch.switch-dark:not(.switch-outline) input:empty ~ span:before {
  background-color: #181C32; }

.switch.switch-dark:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-dark:not(.switch-outline) input:checked ~ span:before {
  background-color: #181C32; }

.switch.switch-dark:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #181C32;
  background-color: #ffffff; }

.switch.switch-outline.switch-dark input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-dark input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-dark input:checked ~ span:before {
  border: 2px solid #181C32;
  background-color: transparent; }

.switch.switch-outline.switch-dark input:checked ~ span:after {
  color: #ffffff;
  background-color: #181C32; }

.switch.switch-white:not(.switch-outline) input:empty ~ span:before {
  background-color: #ffffff; }

.switch.switch-white:not(.switch-outline) input:empty ~ span:after {
  background-color: #ffffff;
  opacity: 0.7; }

.switch.switch-white:not(.switch-outline) input:checked ~ span:before {
  background-color: #ffffff; }

.switch.switch-white:not(.switch-outline) input:checked ~ span:after {
  opacity: 1;
  color: #ffffff;
  background-color: #ffffff; }

.switch.switch-outline.switch-white input:empty ~ span:before {
  border: 2px solid #EBEDF3;
  background-color: transparent; }

.switch.switch-outline.switch-white input:empty ~ span:after {
  background-color: #EBEDF3; }

.switch.switch-outline.switch-white input:checked ~ span:before {
  border: 2px solid #ffffff;
  background-color: transparent; }

.switch.switch-outline.switch-white input:checked ~ span:after {
  color: #ffffff;
  background-color: #ffffff; }

span.switch{
    float: left;
	margin-left:5px;
}

.kt-font-brand{
	margin-left:5px;
}

.editableform .control-group{
	width: 100% !important;
}
.editable-error-block.help-block{
	color: red;
}

.modal-backdrop{
	background-color: #000 !important;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0; }
  .checkbox > span {
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0.42rem; }
    .checkbox > span:after {
      content: '';
      border-color: transparent;
      border-style: solid;
      border-width: 0 2px 2px 0/*rtl:ignore*/ !important;
      -webkit-transform: rotate(45deg)/*rtl:ignore*/;
      transform: rotate(45deg)/*rtl:ignore*/;
      margin-top: -2px; }
  .checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .checkbox:hover > input:not([disabled]) ~ span,
  .checkbox > input:focus ~ span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .checkbox.checkbox-disabled {
    opacity: 0.6;
    cursor: not-allowed; }
  .checkbox > input:checked ~ span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: none; }
    .checkbox > input:checked ~ span:after {
      display: block; }
  .checkbox.checkbox-square > span {
    border-radius: 0; }
  .checkbox.checkbox-circle > span {
    border-radius: 50%; }
  .checkbox.checkbox-outline > span {
    border-width: 1px;
    border-style: solid; }
  .checkbox.checkbox-outline-2x > span {
    border-width: 2px !important; }
  .checkbox.checkbox-accent > span {
    /* border-width: !important; */
    border-style: solid !important;
    background-color: transparent !important; }
    .checkbox.checkbox-accent > span:after {
      display: block; }

.checkbox > span {
  height: 22px;
  width: 22px; }
  .checkbox > span:after {
    width: 5px;
    height: 10px; }

.checkbox.checkbox-lg > span {
  height: 24px;
  width: 24px; }
  .checkbox.checkbox-lg > span:after {
    width: 6px;
    height: 12px; }

.checkbox.checkbox-outline > span {
  height: 18px;
  width: 18px; }
  .checkbox.checkbox-outline > span:after {
    width: 5px;
    height: 10px; }

.checkbox.checkbox-outline.checkbox-lg > span {
  height: 24px;
  width: 24px; }
  .checkbox.checkbox-outline.checkbox-lg > span:after {
    width: 6px;
    height: 12px; }

.checkbox > span {
  background-color: #EBEDF3;
  border: 1px solid transparent; }

.checkbox > input:focus ~ span {
  border: 1px solid transparent; }

/* .checkbox > input:checked ~ span {
  background-color: #3699FF; } */
  .checkbox > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-outline > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline > input:checked ~ span {
  background-color: transparent;
  border-color: #3699FF; }
  .checkbox.checkbox-outline > input:checked ~ span:after {
    border-color: #3699FF; }

.checkbox.checkbox-primary > span {
  border: 1px solid transparent; }

.checkbox.checkbox-primary > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-primary > input:checked ~ span {
  background-color: #3699FF; }
  .checkbox.checkbox-primary > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-primary > span {
  background-color: #E1F0FF;
  border: 1px solid transparent; }

.checkbox.checkbox-light-primary > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-primary > input:checked ~ span {
  background-color: #3699FF; }
  .checkbox.checkbox-light-primary > input:checked ~ span:after {
    border-color: #FFFFFF; }

.checkbox.checkbox-outline.checkbox-primary > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-primary > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-primary > input:checked ~ span {
  background-color: transparent;
  border-color: #3699FF; }
  .checkbox.checkbox-outline.checkbox-primary > input:checked ~ span:after {
    border-color: #3699FF; }

.checkbox.checkbox-secondary > span {
  border: 1px solid transparent; }

.checkbox.checkbox-secondary > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-secondary > input:checked ~ span {
  background-color: #E4E6EF; }
  .checkbox.checkbox-secondary > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-secondary > span {
  background-color: #EBEDF3;
  border: 1px solid transparent; }

.checkbox.checkbox-light-secondary > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-secondary > input:checked ~ span {
  background-color: #E4E6EF; }
  .checkbox.checkbox-light-secondary > input:checked ~ span:after {
    border-color: #3F4254; }

.checkbox.checkbox-outline.checkbox-secondary > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-secondary > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-secondary > input:checked ~ span {
  background-color: transparent;
  border-color: #E4E6EF; }
  .checkbox.checkbox-outline.checkbox-secondary > input:checked ~ span:after {
    border-color: #E4E6EF; }

.checkbox.checkbox-success > span {
  border: 1px solid transparent; }

.checkbox.checkbox-success > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-success > input:checked ~ span {
  background-color: #1BC5BD; }
  .checkbox.checkbox-success > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-success > span {
  background-color: #C9F7F5;
  border: 1px solid transparent; }

.checkbox.checkbox-light-success > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-success > input:checked ~ span {
  background-color: #1BC5BD; }
  .checkbox.checkbox-light-success > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-outline.checkbox-success > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-success > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-success > input:checked ~ span {
  background-color: transparent;
  border-color: #1BC5BD; }
  .checkbox.checkbox-outline.checkbox-success > input:checked ~ span:after {
    border-color: #1BC5BD; }

.checkbox.checkbox-info > span {
  border: 1px solid transparent; }

.checkbox.checkbox-info > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-info > input:checked ~ span {
  background-color: #8950FC; }
  .checkbox.checkbox-info > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-info > span {
  background-color: #EEE5FF;
  border: 1px solid transparent; }

.checkbox.checkbox-light-info > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-info > input:checked ~ span {
  background-color: #8950FC; }
  .checkbox.checkbox-light-info > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-outline.checkbox-info > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-info > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-info > input:checked ~ span {
  background-color: transparent;
  border-color: #8950FC; }
  .checkbox.checkbox-outline.checkbox-info > input:checked ~ span:after {
    border-color: #8950FC; }

.checkbox.checkbox-warning > span {
  border: 1px solid transparent; }

.checkbox.checkbox-warning > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-warning > input:checked ~ span {
  background-color: #FFA800; }
  .checkbox.checkbox-warning > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-warning > span {
  background-color: #FFF4DE;
  border: 1px solid transparent; }

.checkbox.checkbox-light-warning > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-warning > input:checked ~ span {
  background-color: #FFA800; }
  .checkbox.checkbox-light-warning > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-outline.checkbox-warning > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-warning > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-warning > input:checked ~ span {
  background-color: transparent;
  border-color: #FFA800; }
  .checkbox.checkbox-outline.checkbox-warning > input:checked ~ span:after {
    border-color: #FFA800; }

.checkbox.checkbox-danger > span {
  border: 1px solid transparent; }

.checkbox.checkbox-danger > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-danger > input:checked ~ span {
  background-color: #F64E60; }
  .checkbox.checkbox-danger > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-danger > span {
  background-color: #FFE2E5;
  border: 1px solid transparent; }

.checkbox.checkbox-light-danger > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-danger > input:checked ~ span {
  background-color: #F64E60; }
  .checkbox.checkbox-light-danger > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-outline.checkbox-danger > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-danger > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-danger > input:checked ~ span {
  background-color: transparent;
  border-color: #F64E60; }
  .checkbox.checkbox-outline.checkbox-danger > input:checked ~ span:after {
    border-color: #F64E60; }

.checkbox.checkbox-light > span {
  border: 1px solid transparent; }

.checkbox.checkbox-light > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light > input:checked ~ span {
  background-color: #F3F6F9; }
  .checkbox.checkbox-light > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-light > span {
  background-color: #F3F6F9;
  border: 1px solid transparent; }

.checkbox.checkbox-light-light > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-light > input:checked ~ span {
  background-color: #F3F6F9; }
  .checkbox.checkbox-light-light > input:checked ~ span:after {
    border-color: #7E8299; }

.checkbox.checkbox-outline.checkbox-light > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-light > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-light > input:checked ~ span {
  background-color: transparent;
  border-color: #F3F6F9; }
  .checkbox.checkbox-outline.checkbox-light > input:checked ~ span:after {
    border-color: #F3F6F9; }

.checkbox.checkbox-dark > span {
  border: 1px solid transparent; }

.checkbox.checkbox-dark > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-dark > input:checked ~ span {
  background-color: #181C32; }
  .checkbox.checkbox-dark > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-dark > span {
  background-color: #D1D3E0;
  border: 1px solid transparent; }

.checkbox.checkbox-light-dark > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-dark > input:checked ~ span {
  background-color: #181C32; }
  .checkbox.checkbox-light-dark > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-outline.checkbox-dark > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-dark > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-dark > input:checked ~ span {
  background-color: transparent;
  border-color: #181C32; }
  .checkbox.checkbox-outline.checkbox-dark > input:checked ~ span:after {
    border-color: #181C32; }

.checkbox.checkbox-white > span {
  border: 1px solid transparent; }

.checkbox.checkbox-white > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-white > input:checked ~ span {
  background-color: #ffffff; }
  .checkbox.checkbox-white > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox.checkbox-light-white > span {
  background-color: #ffffff;
  border: 1px solid transparent; }

.checkbox.checkbox-light-white > input:focus ~ span {
  border: 1px solid transparent; }

.checkbox.checkbox-light-white > input:checked ~ span {
  background-color: #ffffff; }
  .checkbox.checkbox-light-white > input:checked ~ span:after {
    border-color: #3F4254; }

.checkbox.checkbox-outline.checkbox-white > span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-white > input:focus ~ span {
  background-color: transparent;
  border-color: #D1D3E0; }

.checkbox.checkbox-outline.checkbox-white > input:checked ~ span {
  background-color: transparent;
  border-color: #ffffff; }
  .checkbox.checkbox-outline.checkbox-white > input:checked ~ span:after {
    border-color: #ffffff; }

.checkbox-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .checkbox-inline .checkbox {
    margin-right: 1rem; }
    .checkbox-inline .checkbox span {
      margin-right: 0.75rem; }
    .checkbox-inline .checkbox:last-child {
      margin-right: 0; }

.checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .checkbox-list .checkbox {
    margin-bottom: 1rem; }
    .checkbox-list .checkbox span {
      margin-right: 0.75rem; }
    .checkbox-list .checkbox:last-child {
      margin-bottom: 0; }

/* .channel-buton{
	height: 35px !important;
}

.channel-buton i{
	padding: 0px !important;
} */
