@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  color: #222B45;
}

.text-basic {
  color: #222B45;
}

.btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  color: #222B45;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 9px 16px;
  font-size: 14px;
  border-radius: 6px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  text-transform: uppercase;
}

.btn:hover {
  color: #C5CEE0;
  background-color: #F7F9FC;
}

.btn:active, .btn.active {
  background-color: #EDF1F7;
  border-color: #EDF1F7;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 4px rgba(143, 155, 179, 0.16);
          box-shadow: 0 0 0 4px rgba(143, 155, 179, 0.16);
  border-color: #C5CEE0;
}

.btn-basic {
  color: #222B45;
  background-color: #EDF1F7;
  border-color: #EDF1F7;
}

.btn-basic:hover {
  color: #C5CEE0;
  background-color: #F7F9FC;
}

.btn-basic:active, .btn-basic.active {
  background-color: #E4E9F2;
  border-color: #E4E9F2;
}

.btn-basic:focus {
  background-color: #E4E9F2;
  border-color: #C5CEE0;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #FFC626;
  border-color: #FFC626;
}

.btn-primary:hover {
  color: #FFFFFF;
  background-color: #FFD04E;
  border-color: #FFD04E;
}

.btn-primary:active, .btn-primary.active {
  background-color: #FFAA25;
  border-color: #FFAA25;
}

.btn-primary:focus {
  background-color: #FFAA25;
  border-color: #FF9C00;
}

.btn-warning {
  color: #FFFFFF;
  background-color: #FFAA00;
  border-color: #FFAA00;
}

.btn-warning:hover {
  color: #FFFFFF;
  background-color: #FFC94C;
  border-color: #FFC94C;
}

.btn-warning:active, .btn-warning.active {
  background-color: #DB8B00;
  border-color: #DB8B00;
}

.btn-warning:focus {
  background-color: #DB8B00;
  border-color: #B86E00;
}

.btn-danger {
  color: #FFFFFF;
  background-color: #FF3D71;
  border-color: #FF3D71;
}

.btn-danger:hover {
  color: #FFFFFF;
  background-color: #FF708D;
  border-color: #FF708D;
}

.btn-danger:active, .btn-danger.active {
  background-color: #DB2C66;
  border-color: #DB2C66;
}

.btn-danger:focus {
  background-color: #DB2C66;
  border-color: #B81D5B;
}

.btn-success {
  color: #FFFFFF;
  background-color: #00E096;
  border-color: #00E096;
}

.btn-success:hover {
  color: #FFFFFF;
  background-color: #51F0B0;
  border-color: #51F0B0;
}

.btn-success:active, .btn-success.active {
  background-color: #00B383;
  border-color: #00B383;
}

.btn-success:focus {
  background-color: #00B383;
  border-color: #008F72;
}

.btn-Info {
  color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}

.btn-Info:hover {
  color: #FFFFFF;
  background-color: #494949;
  border-color: #494949;
}

.btn-Info:active, .btn-Info.active {
  background-color: #000000;
  border-color: #000000;
}

.btn-Info:focus {
  background-color: #000000;
  border-color: #000000;
}

.btn-outline-primary {
  color: #FFC626;
  background-color: rgba(255, 197, 38, 0.08);
  border-color: #FFC626;
}

.btn-outline-primary:hover {
  background-color: rgba(255, 197, 38, 0.16);
}

.btn-outline-primary:active, .btn-outline-primary.active {
  background-color: rgba(255, 197, 38, 0.24);
}

.btn-outline-primary:focus {
  background-color: rgba(255, 197, 38, 0.24);
}

.btn-outline-basic {
  color: #8f9bb3;
  background-color: rgba(143, 155, 179, 0.08);
  border-color: #8f9bb3;
}

.btn-outline-basic:hover {
  background-color: rgba(143, 155, 179, 0.16);
}

.btn-outline-basic:active, .btn-outline-basic.active {
  background-color: rgba(143, 155, 179, 0.24);
}

.btn-outline-basic:focus {
  background-color: rgba(143, 155, 179, 0.24);
  border-color: #C5CEE0;
}

.btn-outline-info {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.08);
  border-color: #000000;
}

.btn-outline-info:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.btn-outline-info:active, .btn-outline-info.active {
  background-color: rgba(0, 0, 0, 0.24);
}

.btn-outline-info:focus {
  background-color: rgba(0, 0, 0, 0.24);
}

.btn-outline-warning {
  color: #FFAA00;
  background-color: rgba(255, 170, 0, 0.08);
  border-color: #FFAA00;
}

.btn-outline-warning:hover {
  background-color: rgba(255, 170, 0, 0.16);
}

.btn-outline-warning:active, .btn-outline-warning.active {
  background-color: rgba(255, 170, 0, 0.24);
}

.btn-outline-warning:focus {
  background-color: rgba(255, 170, 0, 0.24);
}

.btn-outline-danger {
  color: #FF3D71;
  background-color: rgba(255, 61, 113, 0.08);
  border-color: #FF3D71;
}

.btn-outline-danger:hover {
  background-color: rgba(255, 61, 113, 0.16);
}

.btn-outline-danger:active, .btn-outline-danger.active {
  background-color: rgba(255, 61, 113, 0.24);
}

.btn-outline-danger:focus {
  background-color: rgba(255, 61, 113, 0.24);
}

.btn-outline-success {
  color: #00E096;
  background-color: rgba(0, 224, 149, 0.08);
  border-color: #00E096;
}

.btn-outline-success:hover {
  background-color: rgba(0, 224, 149, 0.16);
}

.btn-outline-success:active, .btn-outline-success.active {
  background-color: rgba(0, 224, 149, 0.24);
}

.btn-outline-success:focus {
  background-color: rgba(0, 224, 149, 0.24);
}

.btn-icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn-icon-left i {
  margin-right: 10px;
}

.btn-icon-left svg {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.btn-icon-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn-icon-right i {
  margin-left: 10px;
}

.btn-icon-right svg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.btn-icon-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.btn-icon-left-right i:first-child {
  margin-right: 10px;
}

.btn-icon-left-right i:last-child {
  margin-left: 10px;
}

.btn-icon-left-right svg {
  height: 24px;
  width: 24px;
}

.btn-icon-left-right svg:first-child {
  margin-right: 10px;
}

.btn-icon-left-right svg:last-child {
  margin-left: 10px;
}

.btn-icon {
  width: 41px;
  height: 41px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-gt {
  padding: .5rem 1rem;
  font-size: 18px;
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 16px;
}

.btn-md {
  padding: .5rem 1rem;
  font-size: 14px;
}

.btn-sm {
  padding: .5rem 1rem;
  font-size: 12px;
}

.btn-ti {
  padding: .5rem 1rem;
  font-size: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 26px;
  font-weight: 600;
}

h5 {
  font-size: 22px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

label {
  color: #222B45;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

select {
  border: 1px solid #E4E9F2;
  border-radius: 4px;
  padding: 9px 12px;
  background-color: #F7F9FC;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  color: #8F9BB3;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  height: 48px;
}

select:hover {
  background-color: #EDF1F7;
  border: 1px solid #E4E9F2;
}

select:active {
  border-color: #3366FF;
  background-color: #FFFFFF;
}

select:focus {
  border-color: #3366FF;
}

select option {
  color: #222B45;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-color: #FFFFFF;
  height: 48px;
}

select option:active {
  background-color: #FFC626;
  color: #FFFFFF;
}

.form-control {
  border: 1px solid #E4E9F2;
  background-color: #F7F9FC;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  padding: 0 16px;
  color: #8f9bb3;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.form-control::-webkit-input-placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  opacity: 1;
}

.form-control::placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  opacity: 1;
}

.form-control:hover {
  background-color: #EDF1F7;
}

.form-control:focus {
  border-color: #3366FF;
  background-color: #FFFFFF;
}

.form-control:focus-visible {
  border-color: #3366FF;
  background-color: #FFFFFF;
  outline: none;
}

.form-control[disabled] {
  border: 1px solid rgba(228, 233, 242, 0.48);
  background-color: #F7F9FC;
  color: #8F9BB3;
}

.form-controltextarea {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control-sm {
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

.form-control-sm::-webkit-input-placeholder {
  font-weight: 500;
}

.form-control-sm:-ms-input-placeholder {
  font-weight: 500;
}

.form-control-sm::-ms-input-placeholder {
  font-weight: 500;
}

.form-control-sm::placeholder {
  font-weight: 500;
}

.chosen-container-single .chosen-search input[type="text"] {
  border: 1px solid #E4E9F2;
  background-color: #F7F9FC;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 14px 16px;
  color: #222B45;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-image: none !important;
}

.chosen-container-single .chosen-search input[type="text"] ::-webkit-input-placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.chosen-container-single .chosen-search input[type="text"] :-ms-input-placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.chosen-container-single .chosen-search input[type="text"] ::-ms-input-placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.chosen-container-single .chosen-search input[type="text"] ::placeholder {
  color: #8f9bb3;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.chosen-container-single .chosen-search input[type="text"]:hover {
  background-color: #EDF1F7;
}

.chosen-container-single .chosen-search input[type="text"]:focus {
  border-color: #3366FF;
  background-color: #FFFFFF;
}

.chosen-container-single .chosen-search input[type="text"][disabled] {
  border: 1px solid rgba(228, 233, 242, 0.48);
  background-color: #F7F9FC;
  color: #8F9BB3;
}

textarea.form-control {
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.pagination .paginate_button.active a.page-link {
  background-color: #E4E9F2;
}

.pagination .paginate_button a.page-link {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EDF1F7;
  color: #222B45;
  font-size: 15px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.pagination .paginate_button a.page-link:hover {
  background-color: #F7F9FC;
}

.pagination .paginate_button:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination .paginate_button:last-child a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination .paginate_button.disabled a.page-link {
  background-color: rgba(143, 155, 179, 0.16);
  color: rgba(143, 155, 179, 0.48);
  cursor: no-drop;
}

.pagination .paginate_button.disabled a.page-link:hover {
  background-color: rgba(143, 155, 179, 0.16);
  color: rgba(143, 155, 179, 0.48);
}

.datetimepicker {
  border: 1px solid #E4E9F2;
  border-radius: 4px;
  display: inline-table;
  padding: 0;
}

.datetimepicker table {
  width: 238px;
}

.datetimepicker table th,
.datetimepicker table td {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 4px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  border: 1px solid transparent;
}

.datetimepicker table thead tr {
  position: relative;
  border-bottom: 1px solid #E4E9F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datetimepicker table thead tr th.switch {
  width: auto;
  height: 40px;
  padding: 12px;
  text-align: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datetimepicker table thead tr th.next,
.datetimepicker table thead tr th.prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.datetimepicker table thead tr th.prev {
  right: 44px;
}

.datetimepicker table thead tr th.prev .fa-arrow-left:before {
  content: "\f053";
}

.datetimepicker table thead tr th.next {
  right: 0;
}

.datetimepicker table thead tr th.next .fa-arrow-right:before {
  content: "\f054";
}

.datetimepicker table tbody tr td span {
  height: 34px;
  margin: 0;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222B45;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 4px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  border: 1px solid transparent;
}

.datetimepicker table tbody tr td span:hover {
  background-color: #F7F9FC;
}

.datetimepicker table tbody tr td span.disabled {
  color: rgba(143, 155, 179, 0.24);
}

.datetimepicker table tbody tr td span.disabled:hover {
  background-color: #FFFFFF;
}

.datetimepicker table tbody tr td span.old {
  color: #8f9bb3;
}

.datetimepicker table tbody tr td span.active {
  background: rgba(0, 0, 0, 0.24) !important;
  border: 1px solid #3366FF;
  color: #222B45 !important;
}

.datetimepicker .datetimepicker-days th,
.datetimepicker .datetimepicker-days td {
  height: 34px;
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.datetimepicker .datetimepicker-days thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datetimepicker .datetimepicker-days thead tr th.dow {
  color: #8F9BB3;
}

.datetimepicker .datetimepicker-days tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datetimepicker .datetimepicker-days tbody tr td:hover {
  background-color: #F7F9FC;
}

.datetimepicker .datetimepicker-days tbody tr td.day {
  color: #222B45;
}

.datetimepicker .datetimepicker-days tbody tr td.day.disabled {
  color: rgba(143, 155, 179, 0.24);
}

.datetimepicker .datetimepicker-days tbody tr td.day.disabled:hover {
  background-color: #FFFFFF;
}

.datetimepicker .datetimepicker-days tbody tr td.day.old {
  color: #8f9bb3;
}

.datetimepicker .datetimepicker-days tbody tr td.day.active {
  background: rgba(0, 0, 0, 0.24);
  border: 1px solid #3366FF;
  color: #222B45;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222B45;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio > input:focus ~ span {
  background-color: rgba(143, 155, 179, 0.4);
  border: 1px solid #8f9bb3;
  -webkit-box-shadow: 0 0 0 6px rgba(143, 155, 179, 0.16);
          box-shadow: 0 0 0 6px rgba(143, 155, 179, 0.16);
}

.radio > input:checked ~ span {
  background-color: #FFFFFF;
  border: 1px solid #FFC626;
}

.radio > input:checked ~ span::after {
  width: 12px;
  height: 12px;
  background-color: #FFC626;
}

.radio > input:checked ~ span:hover {
  border: 1px solid #FFD04E;
}

.radio > input:checked ~ span:hover::after {
  background-color: #FFD04E;
}

.radio > input:checked:focus ~ span {
  border: 1px solid #FFAA25;
  background-color: rgba(143, 155, 179, 0.16);
  -webkit-box-shadow: 0 0 0 6px rgba(143, 155, 179, 0.16);
          box-shadow: 0 0 0 6px rgba(143, 155, 179, 0.16);
}

.radio > input:checked:focus ~ span::after {
  background-color: #FFAA25;
}

.radio > input:checked[disabled] ~ span {
  border: 1px solid rgba(143, 155, 179, 0.48);
  background-color: #FFFFFF;
  cursor: no-drop;
}

.radio > input:checked[disabled] ~ span::after {
  background-color: rgba(143, 155, 179, 0.48);
  cursor: no-drop;
}

.radio > input[disabled] ~ span {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.16);
  cursor: no-drop;
}

.radio > span {
  background-color: rgba(143, 155, 179, 0.08);
  border: 1px solid #C5CEE0;
  height: 22px;
  width: 22px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.radio > span:hover {
  background-color: rgba(0, 0, 0, 0.16);
  border: 1px solid #FFD04E;
}

.radio > span::after {
  content: '';
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.kt-menu__subnav {
  padding: 0 !important;
}

.kt-menu__subnav li.kt-menu__item {
  border-left: 4px solid transparent;
  border-bottom: 1px solid #EDF1F7;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.kt-menu__subnav li.kt-menu__item a.kt-menu__link {
  padding: 0 !important;
  height: 60px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.kt-menu__subnav li.kt-menu__item a.kt-menu__link span.kt-menu__link-text {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0 20px !important;
  color: #222B45 !important;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.kt-menu__subnav li.kt-menu__item a.kt-menu__link span.kt-menu__link-text i.kt-menu__link-icon {
  color: #8f9bb3;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.kt-menu__subnav li.kt-menu__item:hover {
  background-color: rgba(143, 155, 179, 0.08);
}

.bootstrap-select li .dropdown-item .check-mark {
  background-color: rgba(255, 255, 255, 0.16);
  border: 1px solid #C5CEE0;
  height: 22px;
  width: 22px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bootstrap-select li .dropdown-item .check-mark:after {
  width: 5px;
  height: 10px;
  content: '';
  border-color: transparent;
  border-style: solid;
  border-width: 0 2px 2px 0 !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -2px;
  width: 5px;
  height: 10px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.bootstrap-select li:hover .check-mark {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #FFFFFF;
}

.bootstrap-select li.selected .check-mark {
  background-color: #FFC626;
  border-color: #FFC626;
}

.bootstrap-select li.selected .check-mark:after {
  border-color: #FFFFFF;
}

.bootstrap-select li.selected:hover .check-mark {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.bootstrap-select li.selected:hover .check-mark:after {
  border-color: #000000;
}

.wizard-staps .staps-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wizard-staps .staps-item span {
  height: 30px;
  width: 30px;
  background-color: #8f9bb3;
  border-radius: 50%;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.wizard-staps .staps-item h6 {
  color: #8f9bb3;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
  margin-left: 10px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.wizard-staps .staps-item svg {
  margin: 0 15px;
}

.wizard-staps .staps-item svg path {
  fill: #8f9bb3;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.wizard-staps .staps-item[data-ktwizard-state="current"] span {
  background-color: #FFC626;
}

.wizard-staps .staps-item[data-ktwizard-state="current"] h6 {
  color: #4A4A4A;
}

.wizard-staps .staps-item[data-ktwizard-state="done"] span {
  background-color: #FFC626;
}

.wizard-staps .staps-item[data-ktwizard-state="done"] h6 {
  color: #8f9bb3;
}

.wizard-staps .staps-item[data-ktwizard-state="done"] svg path {
  fill: #101426;
}

.age-slider.noUi-target.noUi-ltr.noUi-horizontal {
  height: 4px;
  background: #E4E9F2;
  border: none;
}

.age-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-connect {
  background: #C5CEE0 !important;
}

.age-slider.noUi-target.noUi-ltr.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  background-color: #8F9BB3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-redio-group {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.btn-redio-group label {
  border-bottom: none !important;
  margin: 0;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C5CEE0 !important;
  color: #ffffff !important;
  border-left: 1px solid #101426 !important;
  height: 40px !important;
  min-width: 40px !important;
}

.btn-redio-group label.All {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: none !important;
}

.btn-redio-group label:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-redio-group input[type=radio]:checked + label {
  background-color: #FFC626 !important;
  color: #ffffff !important;
}

.tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0px 0px 0px;
}

.tags ul li {
  background-color: #FFC626 !important;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 16px;
}

.tags ul li svg {
  width: 20px;
  height: 20px;
}

.tags ul li svg path {
  fill: #FFFFFF;
}

.table-schedule {
  margin-left: auto;
  width: 100%;
  overflow: auto;
}

.table-schedule.schedule-smc table thead tr td {
  width: 28.8px;
  overflow: hidden;
  padding: 5px 0;
  font-size: 9px;
  font-weight: 600;
}

.table-schedule.schedule-smc table tbody tr td.time-slot {
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 4.4px;
}

.table-schedule.schedule-smc table tbody tr td.time-slot::after {
  width: 12px;
  height: 12px;
}

.table-schedule table thead > tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-schedule table thead > tr td {
  width: 39.8px;
}

.table-schedule table thead > tr td:first-child {
  width: 70px;
}

.table-schedule table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table-schedule table tbody tr th.time-label {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.table-schedule table tbody tr th.time-label label.checkbox {
  padding-left: 0 !important;
}

.table-schedule table tbody tr td.time-slot {
  background-color: transparent;
  border: 1px solid rgba(143, 155, 179, 0.48);
  height: 22px;
  width: 22px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px 8.9px;
  position: relative;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.table-schedule table tbody tr td.time-slot::after {
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: rgba(143, 155, 179, 0.48);
  border-radius: 50%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.table-schedule table tbody tr td.time-slot[data-selected="selected"] {
  border: 1px solid #FFC626;
}

.table-schedule table tbody tr td.time-slot[data-selected="selected"]::after {
  background-color: #FFC626;
}

.social-tab ul.nav-tabs li.nav-item a.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #8f9bb3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 4px solid transparent;
  padding: 10px 30px;
  border-radius: 1px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  text-transform: uppercase;
}

.social-tab ul.nav-tabs li.nav-item a.nav-link i {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  font-size: 24px;
  margin-bottom: 10px;
}

.social-tab ul.nav-tabs li.nav-item a.nav-link.active {
  color: #000000;
  border-color: #FFC626;
}

.social-tab ul.nav-tabs li.nav-item a.nav-link.active i {
  color: #FFC626;
}

.social-tab .tab-content {
  margin-top: 20px;
}

.svg-20 svg {
  height: 20px !important;
  width: 20px !important;
}

.svg-ml-30 svg {
  margin-left: 30px !important;
}

.fs-7 {
  font-size: 7px !important;
}

.full-with-btn button {
  width: 100%;
}

@media (max-width: 1398px) {
  .wizard-staps .staps-item h6 {
    font-size: 14px;
    font-weight: 500;
    margin-left: 6px;
  }
  .wizard-staps .staps-item svg {
    margin: 0 2px;
  }
}

@media (max-width: 1024px) {
  .wizard-staps .staps-item h6 {
    font-size: 12px;
    font-weight: 400;
    margin-left: 4px;
  }
  .wizard-staps .staps-item svg {
    margin: 0 0;
  }
  .wizard-staps .staps-item span {
    height: 20px;
    width: 20px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */