@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// primary
$primary-100: #FFE8A9;
$primary-200: #FFDE80;
$primary-300: #FFD663;
$primary-400: #FFD04E;
$primary-500: #FFC626;
$primary-600: #FFAA25;
$primary-700: #FF9C00;
$primary-800: #E0A500;
$primary-800: #A97C00;

$primary-500-transparent-08: rgba(255, 197, 38, 0.08);
$primary-500-transparent-16: rgba(255, 197, 38, 0.16);
$primary-500-transparent-24: rgba(255, 197, 38, 0.24);

// Transparent
$transparent-08: rgba(0, 0, 0, 0.08);
$transparent-16: rgba(0, 0, 0, 0.16);
$transparent-24: rgba(0, 0, 0, 0.24);
$transparent-32: rgba(0, 0, 0, 0.32);
$transparent-40: rgba(0, 0, 0, 0.40);
$transparent-48: rgba(0, 0, 0, 0.48);
// Basic
$basic-100: #FFFFFF;
$basic-200: #F7F9FC;
$basic-300: #EDF1F7;
$basic-400: #E4E9F2;
$basic-500: #C5CEE0;
$basic-600: #8f9bb3;
$basic-700: #2E3A59;
$basic-800: #222B45;
$basic-900: #192038;
$basic-1000: #151A30;
$basic-1100: #101426;

$basic-100-transparent-08: rgba(255, 255, 255, 0.08);
$basic-100-transparent-16: rgba(255, 255, 255, 0.16);
$basic-100-transparent-24: rgba(255, 255, 255, 0.24);
$basic-100-transparent-32: rgba(255, 255, 255, 0.32);
$basic-100-transparent-40: rgba(255, 255, 255, 0.40);
$basic-100-transparent-48: rgba(255, 255, 255, 0.48);

$basic-600-transparent-08: rgba(143, 155, 179, 0.08);
$basic-600-transparent-16: rgba(143, 155, 179, 0.16);
$basic-600-transparent-24: rgba(143, 155, 179, 0.24);
$basic-600-transparent-32: rgba(143, 155, 179, 0.32);
$basic-600-transparent-40: rgba(143, 155, 179, 0.40);
$basic-600-transparent-48: rgba(143, 155, 179, 0.48);
// Success
$success-100: #EDFFF3;
$success-200: #B3FFD6;
$success-300: #8CFAC7;
$success-400: #51F0B0;
$success-500: #00E096;
$success-600: #00B383;
$success-700: #008F72;
$success-800: #007566;
$success-900: #00524C;

$success-500-transparent-08: rgba(0, 224, 149, 0.08);
$success-500-transparent-16: rgba(0, 224, 149, 0.16);
$success-500-transparent-24: rgba(0, 224, 149, 0.24);
// Info
$info-100: #F3F3F3;
$info-200: #B6B6B6;
$info-300: #7C7C7C;
$info-400: #494949;
$info-500: #000000;
// Warning
$warning-100: #FFFDF2;
$warning-200: #FFF1C2;
$warning-300: #FFE59E;
$warning-400: #FFC94C;
$warning-500: #FFAA00;
$warning-600: #DB8B00;
$warning-700: #B86E00;
$warning-800: #945400;
$warning-900: #703C00;

$warning-500-transparent-08: rgba(255, 170, 0, 0.08);
$warning-500-transparent-16: rgba(255, 170, 0, 0.16);
$warning-500-transparent-24: rgba(255, 170, 0, 0.24);

// Danger
$danger-100: #FFF2F2;
$danger-200: #FFD6D9;
$danger-300: #FFA8B4;
$danger-400: #FF708D;
$danger-500: #FF3D71;
$danger-600: #DB2C66;
$danger-700: #B81D5B;
$danger-800: #94124E;
$danger-900: #700940;

$danger-500-transparent-08: rgba(255, 61, 113, 0.08);
$danger-500-transparent-16: rgba(255, 61, 113, 0.16);
$danger-500-transparent-24: rgba(255, 61, 113, 0.24);

//
$transition-all-05: all ease-in-out 0.5s;

body {
    color: $basic-800;
}
.text-basic {
    color: $basic-800;
}

.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: $basic-800;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 9px 16px;
    font-size: 14px;
    border-radius: 6px;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
    &:hover {
        color: $basic-500;
        background-color: $basic-200;
    }
    &:active,
    &.active {
        background-color: $basic-300;
        border-color: $basic-300;
    }
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 4px $basic-600-transparent-16;
        border-color: $basic-500;
    }
}
.btn-basic {
    color: $basic-800;
    background-color: $basic-300;
    border-color: $basic-300;
    &:hover {
        color: $basic-500;
        background-color: $basic-200;
    }
    &:active,
    &.active {
        background-color: $basic-400;
        border-color: $basic-400;
    }
    &:focus {
        background-color: $basic-400;
        border-color: $basic-500;
    }
}
.btn-primary {
    color: $basic-100;
    background-color: $primary-500;
    border-color: $primary-500;
    &:hover {
        color: $basic-100;
        background-color: $primary-400;
        border-color: $primary-400;
    }
    &:active,
    &.active {
        background-color: $primary-600;
        border-color: $primary-600;
    }
    &:focus {
        background-color: $primary-600;
        border-color: $primary-700;
    }
}
.btn-warning {
    color: $basic-100;
    background-color: $warning-500;
    border-color: $warning-500;
    &:hover {
        color: $basic-100;
        background-color: $warning-400;
        border-color: $warning-400;
    }
    &:active,
    &.active {
        background-color: $warning-600;
        border-color: $warning-600;
    }
    &:focus {
        background-color: $warning-600;
        border-color: $warning-700;
    }
}
.btn-danger {
    color: $basic-100;
    background-color: $danger-500;
    border-color: $danger-500;
    &:hover {
        color: $basic-100;
        background-color: $danger-400;
        border-color: $danger-400;
    }
    &:active,
    &.active {
        background-color: $danger-600;
        border-color: $danger-600;
    }
    &:focus {
        background-color: $danger-600;
        border-color: $danger-700;
    }
}
.btn-success {
    color: $basic-100;
    background-color: $success-500;
    border-color: $success-500;
    &:hover {
        color: $basic-100;
        background-color: $success-400;
        border-color: $success-400;
    }
    &:active,
    &.active {
        background-color: $success-600;
        border-color: $success-600;
    }
    &:focus {
        background-color: $success-600;
        border-color: $success-700;
    }
}
.btn-Info {
    color: $basic-100;
    background-color: $info-500;
    border-color: $info-500;
    &:hover {
        color: $basic-100;
        background-color: $info-400;
        border-color: $info-400;
    }
    &:active,
    &.active {
        background-color: $info-500;
        border-color: $info-500;
    }
    &:focus {
        background-color: $info-500;
        border-color: $info-500;
    }
}
.btn-outline-primary {
    color: $primary-500;
    background-color: $primary-500-transparent-08;
    border-color: $primary-500;
    &:hover {
        background-color: $primary-500-transparent-16;
    }
    &:active,
    &.active {
        background-color: $primary-500-transparent-24;
    }
    &:focus {
        background-color: $primary-500-transparent-24;
    }
}
.btn-outline-basic {
    color: $basic-600;
    background-color: $basic-600-transparent-08;
    border-color: $basic-600;
    &:hover {
        background-color: $basic-600-transparent-16;
    }
    &:active,
    &.active {
        background-color: $basic-600-transparent-24;
    }
    &:focus {
        background-color: $basic-600-transparent-24;
        border-color: $basic-500;
    }
}
.btn-outline-info {
    color: $info-500;
    background-color: $transparent-08;
    border-color: $info-500;
    &:hover {
        background-color: $transparent-16;
    }
    &:active,
    &.active {
        background-color: $transparent-24;
    }
    &:focus {
        background-color: $transparent-24;
    }
}
.btn-outline-warning {
    color: $warning-500;
    background-color: $warning-500-transparent-08;
    border-color: $warning-500;
    &:hover {
        background-color: $warning-500-transparent-16;
    }
    &:active,
    &.active {
        background-color: $warning-500-transparent-24;
    }
    &:focus {
        background-color: $warning-500-transparent-24;
    }
}
.btn-outline-danger {
    color: $danger-500;
    background-color: $danger-500-transparent-08;
    border-color: $danger-500;
    &:hover {
        background-color: $danger-500-transparent-16;
    }
    &:active,
    &.active {
        background-color: $danger-500-transparent-24;
    }
    &:focus {
        background-color: $danger-500-transparent-24;
    }
}
.btn-outline-success {
    color: $success-500;
    background-color: $success-500-transparent-08;
    border-color: $success-500;
    &:hover {
        background-color: $success-500-transparent-16;
    }
    &:active,
    &.active {
        background-color: $success-500-transparent-24;
    }
    &:focus {
        background-color: $success-500-transparent-24;
    }
}
.btn-icon-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    i {
        margin-right: 10px;
    }
    svg {
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }
}
.btn-icon-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    i {
        margin-left: 10px;
    }
    svg {
        height: 24px;
        width: 24px;
        margin-left: 10px;
    }
}
.btn-icon-left-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    i {
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
    svg {
        height: 24px;
        width: 24px;

        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
}
.btn-icon {
    width: 41px;
    height: 41px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-gt {
    padding: .5rem 1rem;
    font-size: 18px;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 16px;
}

.btn-md {
    padding: .5rem 1rem;
    font-size: 14px;
}

.btn-sm {
    padding: .5rem 1rem;
    font-size: 12px;
}

.btn-ti {
    padding: .5rem 1rem;
    font-size: 10px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
h2 {
    font-size: 32px;
    font-weight: 600;
}
h3 {
    font-size: 30px;
    font-weight: 600;
}
h4 {
    font-size: 26px;
    font-weight: 600;
}
h5 {
    font-size: 22px;
    font-weight: 600;
}
h6 {
    font-size: 18px;
    font-weight: 600;
}
label {
    color: #222B45;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

select {
    border: 1px solid $basic-400;
    border-radius: 4px;
    padding: 9px 12px;
    background-color: $basic-200;
    transition: $transition-all-05;
    color: #8F9BB3;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    height: 48px;
    &:hover {
        background-color: $basic-300;
        border: 1px solid $basic-400;
    }
    &:active {
        border-color: #3366FF;
        background-color: $basic-100;
    }
    &:focus {
        border-color: #3366FF;
    }
    option {
        color: $basic-800;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        transition: $transition-all-05;
        background-color: $basic-100;
        height: 48px;
        &:active {
            background-color: $primary-500;
            color: $basic-100;
        }
    }
}

.form-control {
    border: 1px solid $basic-400;
    background-color: $basic-200;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    padding: 0 16px;
    color: $basic-600;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    transition: $transition-all-05;
    &::placeholder {
        color: $basic-600;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
        opacity: 1;
    }
    &:hover {
        background-color: #EDF1F7;
    }
    &:focus {
        border-color: #3366FF;
        background-color: $basic-100;
    }
    &:focus-visible {
        border-color: #3366FF;
        background-color: $basic-100;
        outline: none;
    }
    &[disabled] {
        border: 1px solid rgba(228, 233, 242, 0.48);
        background-color: #F7F9FC;
        color: #8F9BB3;
    }
    &textarea {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.form-control-sm {
    height: 40px;
    padding: 10px;
    font-weight: 500;

    &::placeholder {
        font-weight: 500;
    }
}
.chosen-container-single .chosen-search input[type="text"] {
    border: 1px solid $basic-400;
    background-color: $basic-200;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 14px 16px;
    color: $basic-800;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    transition: $transition-all-05;
    background-image: none !important;
     ::placeholder {
        color: $basic-600;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
    &:hover {
        background-color: #EDF1F7;
    }
    &:focus {
        border-color: #3366FF;
        background-color: $basic-100;
    }
    &[disabled] {
        border: 1px solid rgba(228, 233, 242, 0.48);
        background-color: #F7F9FC;
        color: #8F9BB3;
    }
}
textarea.form-control {
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;

    .paginate_button {
        &.active {
            a.page-link {
                background-color: $basic-400;
            }
        }
        a.page-link {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $basic-300;
            color: $basic-800;
            font-size: 15px;
            transition: $transition-all-05;
            &:hover {
                background-color: $basic-200;
            }
        }
        &:first-child {
            a {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
        &:last-child {
            a {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        &.disabled {
            a.page-link {
                background-color: $basic-600-transparent-16;
                color: $basic-600-transparent-48;
                cursor: no-drop;
                &:hover {
                    background-color: $basic-600-transparent-16;
                    color: $basic-600-transparent-48;
                }
            }
        }
    }
}

.datetimepicker {
    border: 1px solid #E4E9F2;
    border-radius: 4px;
    display: inline-table;
    padding: 0;
    table {
        width: 238px;
        th,
        td {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 24px;
            border-radius: 4px;
            transition: $transition-all-05;
            border: 1px solid transparent;
        }
        thead {
            tr {
                position: relative;
                border-bottom: 1px solid #E4E9F2;
                display: flex;
                th.switch {
                    width: auto;
                    height: 40px;
                    padding: 12px;
                    text-align: left;
                    display: inline-flex;
                    align-items: center;
                }
                th.next,
                th.prev {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                th.prev {
                    right: 44px;

                    .fa-arrow-left:before {
                        content: "\f053";
                    }
                }
                th.next {
                    right: 0;

                    .fa-arrow-right:before {
                        content: "\f054";
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    span {
                        height: 34px;
                        margin: 0;
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #222B45;
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 0;
                        line-height: 24px;
                        border-radius: 4px;
                        transition: $transition-all-05;
                        border: 1px solid transparent;

                        &:hover {
                            background-color: $basic-200;
                        }
                        &.disabled {
                            color: $basic-600-transparent-24;
                            &:hover {
                                background-color: $basic-100;
                            }
                        }
                        &.old {
                            color: $basic-600;
                        }
                        &.active {
                            background: rgba(0, 0, 0, 0.24) !important;
                            border: 1px solid #3366FF;
                            color: #222B45 !important;
                        }
                    }
                }
            }
        }
    }
    .datetimepicker-days {
        th,
        td {
            height: 34px;
            width: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        thead {
            tr {
                display: flex;
                
                th {
                    &.dow {
                        color: #8F9BB3;
                    }
                }
            }
        }
        tbody {
            tr {
                display: flex;
                td {
                    &:hover {
                        background-color: $basic-200;
                    }
                    &.day {
                        color: #222B45;
                        &.disabled {
                            color: $basic-600-transparent-24;
                            &:hover {
                                background-color: $basic-100;
                            }
                        }
                        &.old {
                            color: $basic-600;
                        }
                        &.active {
                            background: rgba(0, 0, 0, 0.24);
                            border: 1px solid #3366FF;
                            color: #222B45;
                        }
                    }
                }
            }
        }
    }
}
.radio {
    display: flex;
    align-items: center;
    color: #222B45;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;

    > input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:focus {
            ~ span {
                background-color: $basic-600-transparent-40;
                border: 1px solid $basic-600;
                box-shadow: 0 0 0 6px $basic-600-transparent-16;
            }
        }
        &:checked {
            ~ span {
                background-color: $basic-100;
                border: 1px solid $primary-500;
                
                &::after {
                    width: 12px;
                    height: 12px;
                    background-color: $primary-500;
                }
                &:hover {
                    border: 1px solid $primary-400;
                    &::after {
                        background-color: $primary-400;
                    }
                }
            }
            &:focus {
                ~ span {
                    border: 1px solid $primary-600;
                    background-color: $basic-600-transparent-16;
                    box-shadow: 0 0 0 6px $basic-600-transparent-16;
                    &::after {
                        background-color: $primary-600;
                    }
                }
            }
            &[disabled] {
                ~ span {
                    border: 1px solid $basic-600-transparent-48;
                    background-color: $basic-100;
                    cursor: no-drop;
                    &::after {
                        background-color: $basic-600-transparent-48;
                        cursor: no-drop;
                    }
                }
            }
        }
        &[disabled] {
            ~ span {
                border: 1px solid $basic-100-transparent-40;
                background-color: $basic-100-transparent-16;
                cursor: no-drop;
            }
        }
    }
    > span {
        background-color: $basic-600-transparent-08;
        border: 1px solid $basic-500;
        height: 22px;
        width: 22px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition-all-05;

        &:hover {
            background-color: $transparent-16;
            border: 1px solid $primary-400;
        }
        &::after {
            content: '';
            width: 0;
            height: 0;
            background-color: transparent;
            border-radius: 50%;
            transition: $transition-all-05;
        }
    }
}
.kt-menu__subnav {
    padding: 0 !important;
    li.kt-menu__item {
        border-left: 4px solid transparent;
        border-bottom: 1px solid #EDF1F7;
        transition: $transition-all-05;
        a.kt-menu__link {
            padding: 0 !important;
            height: 60px;
            transition: $transition-all-05;

            span.kt-menu__link-text {
                align-content: center;
                justify-content: flex-start;
                width: 100%;
                padding: 0 20px !important;
                color: $basic-800 !important;
                transition: $transition-all-05;

                i.kt-menu__link-icon {
                    color: $basic-600;
                    transition: $transition-all-05;
                }
            }
        }
        &:hover {
            background-color: $basic-600-transparent-08;
        }
    }
}
.bootstrap-select {
    li {
        .dropdown-item {
            .check-mark {
                background-color: $basic-100-transparent-16;
                border: 1px solid #C5CEE0;
                height: 22px;
                width: 22px;
                display: inline-block;
                border-radius: 4px;
                margin-right: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:after {
                    width: 5px;
                    height: 10px;
                    content: '';
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0 2px 2px 0/*rtl:ignore*/ !important;
                    -webkit-transform: rotate(45deg)/*rtl:ignore*/;
                    transform: rotate(45deg)/*rtl:ignore*/;
                    margin-top: -2px;
                    width: 5px;
                    height: 10px;
                    transition: $transition-all-05;
                }
            }
        }
        &:hover {
            .check-mark {
                background-color: $basic-100-transparent-40;
                border-color: $basic-100;
            }
        }
        &.selected {
            .check-mark {
                background-color: $primary-500;
                border-color: $primary-500;
                &:after {
                    border-color: $basic-100;
                }
            }
            &:hover {
                .check-mark {
                    background-color: $basic-100;
                    border-color: $basic-100;
                    &:after {
                        border-color: $info-500;
                    }
                }
            }
        }
    }
}
.wizard-staps {
    .staps-item {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            height: 30px;
            width: 30px;
            background-color: $basic-600;
            border-radius: 50%;
            color: $info-500;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transition-all-05;
        }
        h6 {
            color: $basic-600;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 24px;
            margin-bottom: 0;
            margin-left: 10px;
            transition: $transition-all-05;
        }
        svg {
            margin: 0 15px;
            path {
                fill: $basic-600;
                transition: $transition-all-05;
            }
        }
        &[data-ktwizard-state="current"] {
            span {
                background-color: $primary-500;
            }
            h6 {
                color: #4A4A4A;
            }
        }
        &[data-ktwizard-state="done"] {
            span {
                background-color: $primary-500;
            }
            h6 {
                color: $basic-600;
            }
            svg {
                path {
                    fill: $basic-1100;
                }
            }
        }
    }
}
.age-slider.noUi-target.noUi-ltr.noUi-horizontal {
    height: 4px;
    background: $basic-400;
    border: none;
    .noUi-connect {
        background: $basic-500 !important;
    }
    .noUi-handle {
        width: 28px;
        height: 28px;
        background-color: #8F9BB3;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        box-shadow: none;
    }
}
.btn-redio-group {
    display: flex !important;
    
    label {
        border-bottom: none !important;
        margin: 0;
        display: inline-flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #C5CEE0 !important;
        color: #ffffff !important;
        border-left: 1px solid #101426 !important;
        height: 40px !important;
        min-width: 40px !important;
        &.All {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-left: none !important;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    input[type=radio]:checked + label {
        background-color: #FFC626 !important;
        color: #ffffff !important;
    }
}
.tags {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0px 0px 0px;
        li {
            background-color: #FFC626 !important;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 16px;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding: 4px 16px;
            svg {
                width: 20px;
                height: 20px;
                path {
                    fill: $basic-100;
                }
            }
        }
    }
}
.table-schedule {
    margin-left: auto;
    width: 100%;
    overflow: auto;
    &.schedule-smc {
        table {
            thead {
                tr {
                    td {
                        width: 28.8px;
                        overflow: hidden;
                        padding: 5px 0;
                        font-size: 9px;
                        font-weight: 600;
                    }
                }
            }
            tbody {
                tr {
                    td.time-slot {
                        height: 20px;
                        width: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 5px 4.4px;

                        &::after {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
    table {
        thead {
            &>tr {
                display: flex;
                td {
                    width: 39.8px;
                    &:first-child {
                        width: 70px;
                    }
                }
            }
        }
        tbody {
            tr {
                display: flex;
                width: 100%;
                th.time-label {
                    width: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    label.checkbox {
                        padding-left: 0 !important;
                    }
                }
                td.time-slot {
                    background-color: transparent;
                    border: 1px solid $basic-600-transparent-48;
                    height: 22px;
                    width: 22px;
                    display: inline-block;
                    border-radius: 50%;
                    margin: 5px 8.9px;
                    position: relative;
                    transition: $transition-all-05;
                    
                    &::after {
                        content: '';
                        width: 14px;
                        height: 14px;
                        display: inline-block;
                        background-color: $basic-600-transparent-48;
                        border-radius: 50%;
                        transition: $transition-all-05;
                    }
                    &[data-selected="selected"] {
                        border: 1px solid $primary-500;

                        &::after {
                            background-color: $primary-500;
                        }
                    }
                }
            }
        }
    }
}
.social-tab {
    ul.nav-tabs {
        li.nav-item {
            a.nav-link {
                display: flex;
                flex-direction: column;
                color: $basic-600;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                border-bottom: 4px solid transparent;
                padding: 10px 30px;
                border-radius: 1px;
                transition: $transition-all-05;
                text-transform: uppercase;
                i {
                    transition: $transition-all-05;
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                &.active {
                    color: $info-500;
                    border-color: $primary-500;
                    i {
                        color: $primary-500;
                    }
                }
            }
        }
    }
    .tab-content {
        margin-top: 20px;
    }
}
.svg-20 {
    svg {
        height: 20px !important;
        width: 20px !important;
    }
}
.svg-ml-30 {
    svg {
        margin-left: 30px !important;
    }
}
.fs-7 {
    font-size: 7px !important;
}
.full-with-btn {
    button {
        width: 100%;
    }
}
@media (max-width: 1398px) {
    .wizard-staps {
        .staps-item { 
            h6 {
                font-size: 14px;
                font-weight: 500;
                margin-left: 6px;
            }
            svg {
                margin: 0 2px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .wizard-staps {
        .staps-item { 
            h6 {
                font-size: 12px;
                font-weight: 400;
                margin-left: 4px;
            }
            svg {
                margin: 0 0;
            }
            span {
                height: 20px;
                width: 20px;
                font-size: 10px;
            }
        }
    }
}