<pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AF"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AX"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AL"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "DZ"
  ["number"]=>
  int(1000)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AS"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AD"
  ["number"]=>
  int(7)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AO"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AI"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AQ"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AG"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AR"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AM"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AW"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AU"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AT"
  ["number"]=>
  int(1000)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AZ"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BS"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BH"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BD"
  ["number"]=>
  int(50)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BB"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BY"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BE"
  ["number"]=>
  int(589)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AZ"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BS"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BH"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BD"
  ["number"]=>
  int(50)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BB"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BY"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BE"
  ["number"]=>
  int(589)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AZ"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BS"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BH"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BD"
  ["number"]=>
  int(50)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BB"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BY"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "BE"
  ["number"]=>
  int(589)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AF"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AX"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "AL"
  ["number"]=>
  int(0)
}
</pre><pre>array(3) {
  ["type"]=>
  string(4) "city"
  ["code"]=>
  string(2) "DZ"
  ["number"]=>
  int(1000)
}
</pre>