
/* costem by S3 */
.kt-header {
  background-color: #faf0ff;
  box-shadow: none !important;
}
.kt-header-menu .kt-menu__nav>.kt-menu__item .kt-menu__link {
  flex-direction: column;
  align-items: center;
}
.kt-menu__item {
  border-bottom: 4px solid transparent;
  transition: all ease-in-out 0.5s;
}
.kt-menu__item svg {
  margin-bottom: 6px;
}
.kt-header-menu .kt-menu__item  a .kt-menu__link-text {
  color: #8F9BB3 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 16px !important;
  text-transform: uppercase !important;
}
.kt-header-menu .kt-menu__item--active.kt-menu__item  a .kt-menu__link-text {
  color: #000000 !important;
}
.kt-menu__item--active.kt-menu__item {
  border-color: #FFC626;
}
.kt-header-menu .kt-menu__item--active.kt-menu__item  a svg path {
  fill: #FFC626;
}
.kt-header-menu .kt-menu__item--active.kt-menu__item  a svg path#feather_stoke {
  fill: transparent;
  stroke: #FFC626;
}
#feather_stoke {
  fill: transparent;
}
.user-img {
  width: 40px;
  height: 40px;
  max-height: 40px !important;
}
/* .btn-primary {
  background-color: #FFC626 !important;
  border-color: #FFC626 !important;
  color: #FFFFFF !important;
}
.btns {
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 16px;
  text-align: center;
  height: 40px !important;
  transition: all ease-in-out 0.5s;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
}
.btn-icon-left i {
  font-size: 20px;
  margin-right: 6px;
}
.btn-primary:hover {
  background-color: #FFAA25 !important;
}
.btn-primary:active {
  background-color: #FFD04E !important;
}
.btn-primary:focus {
  background-color: #FF9C00 !important;
  border: 1px solid #FF9C00 !important;
  box-shadow: 0 0 0 4px rgba(143, 155, 179, 0.16);
} */
.dropdown.bootstrap-select * {
  transition: all ease-in-out 0.5s;
}
.dropdown.bootstrap-select button {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #E4E9F2 !important;
  border-radius: 4px !important;
  padding: 13px 22px;
  background-color: #F7F9FC !important;
  
}
.dropdown.bootstrap-select button .filter-option-inner-inner {
  color: #8F9BB3;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}
.dropdown.bootstrap-select button:hover {
  background-color: #EDF1F7!important;
  border: 1px solid #E4E9F2!important;
}
.dropdown.bootstrap-select.show button {
  border-color: #3366FF !important;
  background-color: #FFFFFF !important; 
}
.dropdown.bootstrap-select > .dropdown-menu.show {
  border: 1px solid #E4E9F2 !important;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: none;
  margin-top: 4px;
  padding: 0;
}
.bootstrap-select .dropdown-menu.inner>li>a span.bs-ok-default.check-mark {
  display: flex;
  position: unset;
  align-items: center;
  justify-content: center;
  position: unset;
}
.bootstrap-select .dropdown-menu.inner>li>a {
  display: flex;
  align-items: center;
  position: relative;
  outline: none !important;
  padding: 12px 16px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.bootstrap-select .dropdown-menu.inner>li.selected>a .text, .bootstrap-select .dropdown-menu.inner>li>a .text{
  color: #222B45;
}
.bootstrap-select .dropdown-menu.inner>li:hover>a {
  background-color: #FFC626;
}
.bootstrap-select .dropdown-menu.inner>li:hover>a .text {
  color: #FFFFFF !important;
}
.bootstrap-select>.dropdown-toggle:after {
  color: #8F9BB3;
}
.bootstrap-select.show>.dropdown-toggle:after {
  transform: rotate(180deg);
}
body fieldset ul li label span {
  font-size: 14px !important;
}
body fieldset ul li label {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom-width: 4px !important;
  border-bottom-color: transparent !important;
  height: auto !important;
  text-transform: uppercase;
  color: #8F9BB3 !important;
  font-size: 14px !important;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px !important;
  text-align: center;
  transition: all ease-in-out 0.5s;
  padding: 14px;

}
body fieldset ul li input[type=radio]:checked + label {
  background-color: transparent !important;
  color: #000000 !important;
  border-bottom-color: #FFC626 !important;
}
.switch input:empty ~ span:before, .switch input:empty ~ span:after {
  width: 52px;
  border-radius: 20px;
  height: 32px;
}
.switch input:empty ~ span:before {
  background-color: rgb(143 155 179 / 16%);
  border: 1px solid #C5CEE0;
}
.switch input:checked ~ span:before {
  background-color: #FFC626;
  border: 1px solid #FFC626;
}
.switch input:checked ~ span:after {
  margin-left: 22px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px !important;
}
.switch input:empty ~ span:after {
  height: 28px;
  width: 28px;
  top: 2px;
  bottom: 2px;
  font-size: 0.55em;
  text-align: center;
  vertical-align: middle;
}
.switch input:empty ~ span {
  margin: 2px 0;
    height: 32px;
    width: 52px;
    border-radius: 22px;
}
.switch input:checked ~ span:after {
    color: #FFC626;
    background-color: #FFFFFF;
}
.switch input:empty ~ span:after {
  opacity: 1;
}
.switch input:empty ~ span:hover:before {
  background-color: rgba(0, 0, 0, 0.16);
  border-color: #FFD04E;
}
.switch input:checked ~ span:hover:before {
  background-color: #FFD04E;
  border-color: #FFD04E;
}
.switch input:empty:focus ~ span:before {
  background-color: rgba(143, 155, 179, 0.40);
  border-color: #8F9BB3;
  box-shadow: 0 0 0px 6px #edeff3;
}
.switch input:checked:focus ~ span:before {
  background-color: #FFAA25;
  border-color: #FF9C00;
  box-shadow: 0 0 0px 6px #edeff3;
}
.switch input[disabled]:empty ~ span:before, .switch input[disabled]:checked ~ span:before {
  background-color: #EDEFF3;
  border-color: #CFD4DF;
}
.switch input[disabled]:empty ~ span:after, .switch input[disabled]:checked ~ span:after {
  background-color: #C0C7D5;
  color: #FFFFFF;
}
.switch input {
  transition: all ease-in-out 0.5s;
}
.switch.switch-sm input:empty ~ span:before, .switch.switch-sm input:empty ~ span:after {
  width: 52px;
  border-radius: 20px;
  height: 32px;
}
.switch.switch-sm input:empty ~ span:before {
  background-color: rgb(143 155 179 / 16%);
  border: 1px solid #C5CEE0;
}
.switch.switch-sm input:checked ~ span:before {
  background-color: #FFC626;
  border: 1px solid #FFC626;
}
.switch.switch-sm input:checked ~ span:after {
  margin-left: 22px;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px !important;
}
.switch.switch-sm input:empty ~ span:after {
  height: 28px;
  width: 28px;
  top: 2px;
  bottom: 2px;
  font-size: 0.55em;
  text-align: center;
  vertical-align: middle;
}
.switch.switch-sm input:empty ~ span {
  margin: 2px 0;
    height: 32px;
    width: 52px;
    border-radius: 22px;
}
.switch.switch-sm input:checked ~ span:after {
    color: #FFC626;
    background-color: #FFFFFF;
}
.switch.switch-sm input:empty ~ span:after {
  opacity: 1;
}
.switch.switch-sm input:empty ~ span:hover:before {
  background-color: rgba(0, 0, 0, 0.16);
  border-color: #FFD04E;
}
.switch.switch-sm input:checked ~ span:hover:before {
  background-color: #FFD04E;
  border-color: #FFD04E;
}
.switch.switch-sm input:empty:focus ~ span:before {
  background-color: rgba(143, 155, 179, 0.40);
  border-color: #8F9BB3;
  box-shadow: 0 0 0px 6px #edeff3;
}
.switch.switch-sm input:checked:focus ~ span:before {
  background-color: #FFAA25;
  border-color: #FF9C00;
  box-shadow: 0 0 0px 6px #edeff3;
}
.switch.switch-sm input[disabled]:empty ~ span:before, .switch.switch-sm input[disabled]:checked ~ span:before {
  background-color: #EDEFF3;
  border-color: #CFD4DF;
}
.switch.switch-sm input[disabled]:empty ~ span:after, .switch.switch-sm input[disabled]:checked ~ span:after {
  background-color: #C0C7D5;
  color: #FFFFFF;
}
.switch.switch-sm input {
  transition: all ease-in-out 0.5s;
}
td.details-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
td.SubTableDuplicated {
  padding: 15px 7px 30px 72px;
    background-color: transparent;
}
.dataTables_wrapper .dataTable th {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid #8F9BB3;
}
.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
  color: #222B45;
  border-top: none;
  text-align: left;
}
.dataTables_wrapper .dataTable td {
  font-size: 15px;
}
label.checkbox {
  display: flex;
  align-items: center;
  color: #222B45;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.checkbox > span {
  background-color: rgb(143 155 179 / 16%);
  border: 1px solid #C5CEE0;
  height: 22px;
  width: 22px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox > span:after {
  width: 5px;
  height: 10px;
}
.checkbox > span:after {
  content: '';
  border-color: transparent;
  border-style: solid;
  border-width: 0 2px 2px 0/*rtl:ignore*/ !important;
  -webkit-transform: rotate(45deg)/*rtl:ignore*/;
  transform: rotate(45deg)/*rtl:ignore*/;
  margin-top: -2px;
  width: 5px;
  height: 10px;
}
.checkbox > input:checked ~ span:after {
  border-color: #ffffff;
}
.checkbox > span:hover {
  background-color: #CFCFD1;
  border: 1px solid #3366FF;
  box-shadow: 0 0 0px 6px #F6F7F9;
}
.checkbox > input:focus ~ span {
  background-color: #C8CEDA;
  border: 1px solid #8F9BB3;
  box-shadow: 0 0 0px 6px #EDEFF3;
}
.checkbox > input:checked ~ span {
  background-color: #FFC626;
  border-color: #FFC626;
}
.checkbox > input[disabled] ~ span {
  border-color: #DDE1E9;
  background-color: #F6F7F9;
}
.checkbox > input[disabled]:checked ~ span {
  border-color: #8F9BB3;
  background-color: #8F9BB3;
}
.checkbox > input:checked ~ span:hover {
  border-color: #FFD04E;
  background-color: #FFD04E;
}
.checkbox > input:checked:focus ~ span {
  box-shadow: 0 0 0px 6px #EDEFF3;
  background-color: #FFC626;
  border: 1px solid #FF9C00;
}
.action-box {
  white-space: pre;
  display: flex;
  align-items: center;
}
.dropdown.bootstrap-select.show-tick.w-100 .dropdown-menu {
  min-width: 100% !important;
}
.chosen-container-single .chosen-single {
  box-sizing: border-box;
    height: 41px !important;
    border: 1px solid #E4E9F2 !important;
    border-radius: 4px !important;
    padding: 9px 22px;
    background: #F7F9FC !important;
    box-shadow: none;
    font-weight: 600;
    color: #8F9BB3 !important;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    text-transform: uppercase;
}
.chosen-container-single .chosen-drop {
  border: 1px solid #E4E9F2 !important;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: none;
    margin-top: 4px;
    padding: 0;

}
.chosen-container .chosen-results li:hover {
  background: #FFC626 !important;
  color: #FFFFFF;
}
.chosen-container .chosen-results li.result-selected {
  background: #FFC626 !important;
  color: #FFFFFF;
}
.chosen-container .chosen-results li {
  display: flex;
  align-items: center;
  position: relative;
  outline: none !important;
  padding: 12px 16px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-single .chosen-single div b {
  background: none !important;
}
.chosen-container-single .chosen-single div b:after {
  border: 0;
  margin-right: -2px;
  font-size: 0.6rem;
  display: inline-block;
  font-family: Flaticon2;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: "";
  top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.stap-title {
  color: #222B45;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 35px;
}
.stap-subtitle {
  color: #222B45;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 20px;
}
.modal-subtitle {
  color: #222B45;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 25px;
}
.staps-label {
  color: #222B45;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
}
.loason {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  background-color: transparent !important;
  padding: 0 10px !important;
}
.kt-form__actions {
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;    
}
.btnft li.rad_btn label, .rad_btn_checkbox {
  min-width: 200px;
  color: #222B45;
  background-color: #EDF1F7;
  border-radius: 6px;
  margin: 0 10px 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  padding: 10px 20px;
  border-bottom: none;
}
.btnft li.rad_btn i {
  font-size: 32px;
  padding-right: 25px;
}
.so_li_set li {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
li.rad_btn input[type=checkbox].redSocial:checked + label {
  color: #FFFFFF;
  background-color: #FFC626;
}
.rad_btn svg path {
  transition: all ease-in-out 0.4s;
}
li.rad_btn input[type=checkbox].redSocial:checked + label svg path{
  fill: #FFFFFF;
}
li.rad_btn input[type=checkbox].redSocial[disabled] + label,
a.rad_btn_checkbox.block {
  background-color: rgba(143, 155, 179, 0.24) !important;
  color: rgba(143, 155, 179, 0.48);
}
.rad_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.rad_btn label {
  margin-bottom: 0;
  color: #8F9BB3;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  border-bottom: 4px solid transparent;
  transition: all ease-in-out 0.4s;
  padding: 14px 22px;
}
.rad_btn input:checked + label {
  border-color: #000000;
  color: #000000;
}
.accordion.accordion-light .card .card-header .card-title:after {
  right: 16px !important;
}
.sixthdes {
  font-size: 15px;
  color: #222B45;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}
.summarylist {
  list-style-type: none;
  width: 100%;
  color: #222B45;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
}
.summarylist * {
  color: #222B45;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 400;
}
.summarylist strong, .summarylist b {
  font-weight: 600;
}
.summ-title {
  color: #222B45;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}
.title-small {
  color: #222B45;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 20px;
}
.imagenessummary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.imagenessummary > div {
  margin: 5px;
  width: 25%;
  height: 50px;
}
.editable-buttons {
  display: flex !important;
  float: right;
}
.details-control svg {
  cursor: pointer;
}
.details-control svg.kt-font-brand {
    background-color: transparent !important;
    padding: 0 !important;
}
.details-control svg.kt-font-brand:hover {
    background-color: transparent !important;
    padding: 0 !important;
}
.language-box, .location-box,
.intereses-box, .audiencia-box,
.posts-box {
  z-index: 3 !important;
    box-shadow: none !important;
    padding: 0;
    width: 100%;
    border-radius: unset !important;
}
.language-box ul, .location-box ul,
.intereses-boxul , .audiencia-box ul,
.posts-box ul {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: none;
  margin-top: 4px !important  ;
  padding: 0;
  overflow: hidden;
}
.location-box ul li, 
.language-box ul li, 
.intereses-box ul li, 
.audiencia-box ul li, 
.posts-box ul li {
  box-shadow: none !important;
  display: flex;
  align-items: center;
  position: relative;
  outline: none !important;
  padding: 5px 16px !important;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  border: 1px solid #E4E9F2 !important;
  
}
.location-box ul li:hover, 
.language-box ul li:hover, 
.intereses-box ul li:hover, 
.audiencia-box ul li:hover, 
.posts-box ul li:hover {
  background-color: #FFC626 !important;
}
.kt-spinner.kt-spinner--right:before {
  left: auto;
  right: 10px;
}
.kt-spinner.kt-spinner--right {
  padding-right: 40px;
}
form.d-flex.form-inline> * {
  margin-bottom: 20px;
}
form.d-flex.form-inline {
  margin-bottom: -20px !important;
}
.tag.label.label-info {
  padding: 4px 12px;
  margin-bottom: 3px;
  display: inline-block;
  background-color: #ffc626;
  color: white;
  font-weight: 500;
  border-radius: 16px;
}
.apexcharts-gridline {
  stroke: #F0F0F0 !important;
  stroke-width: 1px !important;
}
.apexcharts-xaxis line {
  display: none;
}
.ed-icon {
  font-size: 26px !important;
}